<%= simple_form_for @settlement, remote: true do |f| %>
	<div class="row">
		<!-- Settlement info -->
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :admin_n, 'N° de Administración', class: 'control-label' %></div>
				<div class="col-sm-6"><%= number_field_tag :admin_n, @settlement.contract.administration_number.id, class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag :number, 'N° de Liquidación', class: 'control-label' %></div>
				<div class="col-sm-6"><%= f.input   :number, label: false, class: 'form-control', readonly: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag :date, 'Fecha', class: 'control-label' %></div>
				<div class="col-sm-6"><%= f.input	:date, as: :date_picker, label: false, class: 'form-control'%></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :rent, 'Monto Arriendo', class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :rent, fmt_number(@settlement.contract.rent), class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		 :settlement_range, 'Mes de Arriendo', class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :settlement_range, @settlement.range, class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :amount_of_readjustments, 'Reajustes', class: 'control-label' %></div>
				<div class="col-sm-6"><%= number_field_tag :amount_of_readjustments, @settlement.contract.amount_of_readjustments, class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :delay_penalties, 'Multas por Atraso', class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :delay_penalties, 0, type: 'text', class: 'form-control float-field' %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		 :admin_percentage, "% de Administración (#{fmt_number @settlement.contract.administration_number.property.adm_percentage}%)", class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :admin_percentage, fmt_number(@settlement.contract.administration_percentage), class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag :invoice_number, 'N° de Factura', class: 'control-label' %></div>
				<div class="col-sm-6"><%= f.input	:invoice_number, label: false, class: 'form-control'%></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :total_discount, 'Total Descuentos (Gastos y Pagos)', class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :total_discount, fmt_number(@total_discount), class: 'form-control', disabled: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag		   :transference_total, 'Transferencia a Cta. Cte', class: 'control-label' %></div>
				<div class="col-sm-6"><%= text_field_tag :transference_total, fmt_number(@settlement.contract.rent - @total_discount - @settlement.contract.administration_percentage), class: 'form-control', disabled: true %></div>
			</div>
		</div>

		<!-- Discounts info -->
		<div class="col-sm-6">
			<table class="table table-bordered" style="margin: auto;">
				<thead class="thead-dark">
					<tr class="text-center">
						<th colspan="2">Descuentos</th>
					</tr>
				</thead>
				<tbody>
					<% @expenses.each do |expense| %>
						<tr class="text-center">
							<td><%= expense.description %></td>
							<td><%= fmt_number expense.amount %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<span style="float: right;"><strong>Total: <%= fmt_number @total_discount%></strong></span>
		</div>
	</div>

	<br/>
	<!-- Buttons -->
	<div class="row">
		<!-- File buttons -->
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-6">
					<%= render 'partials/file_button', f: f, file_field: :transference, label: 'Subir Comprobante Transferencia', previous: true %>
				</div>
				<div class="col-sm-6">
					<%= render 'partials/file_button', f: f, file_field: :invoice, label: 'Subir Factura', previous: true %>
				</div>
			</div>
		</div>

		<!-- Submit buttons -->
		<div class="col-sm-6">
			<%= f.submit 'Generar', class: 'btn btn-success mt-1', id: 'submit-button', onclick: 'modal.showProcessing();' %>
			<button class="btn btn-danger mt-1 pull-right" data-dismiss="modal">Cancelar</button>
		</div>
	</div>

	<%= f.input :contract_id, as: :hidden %>
	<%= f.input :year, as: :hidden %>
	<%= f.input :month, as: :hidden, input_html: {value: @settlement.month.to_sym} %>
<% end %>

<%= content_for :extra_js do %>
	helpers.setFloatFieldListenerByClass('float-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('float-field');
	}
</script>

