<!--<div class="row">
	<div class="col-sm-12">
		<iframe id="pdf-frame" title="" width="100%" height="100%" src="<%= url_for(@settlement.receipt) %>"></iframe>

		<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
		<button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button>
	</div>
</div> -->

<iframe id="pdf-frame" title="" width="100%" style="min-height: 400px;"src="<%= url_for(@settlement.receipt) %>"></iframe>

<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
<button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button>
