<table class="table table-bordered table-responsive">
	<thead class="thead-dark" style="width: 100%">
		<tr class="text-center">
			<th>N Liq</th>
			<th>Fecha</th>
			<th>Mes Arriendo</th>
			<th>Reajustes</th>
			<th>Multas por Atraso</th>
			<th>% Adm</th>
			<th>N Factura</th>
			<th>Total Descuento</th>
			<th>Transf. Cta. Cte.</th>
			<th>Accion</th>
		</tr>
	</thead>


	<tbody id="show_settlements_tbody">
		<% @settlements.each do |settlement| %>
			<tr class="text-center">
				<td class="cell-tght"><%= settlement.id %></td>
				<td class="cell-tght"><%= settlement.created_at.strftime("%d-%m-%Y") %></td>
				<td class="cell-tght"><%= settlement.month_string %></td>
				<td class="cell-tght"><%= settlement.contract.amount_of_readjustments %></td>
				<td class="cell-tght"> ? </td>
				<td class="cell-tght"><%= fmt_number settlement.contract.administration_percentage %></td>
				<td class="cell-tght"><%= settlement.invoice_number %></td>
				<% settlement_discount = settlement.discount %>
				<td class="cell-tight"><%= fmt_number(settlement_discount) %></td>
				<td class="cell-tight"><%= fmt_number(settlement.contract.rent - settlement_discount - settlement.contract.administration_percentage) %></td>
				<td class="cell-tight p-0">
					<%= link_to 'Ver PDF', settlement_pdf_path(settlement.id), class: 'btn btn-danger', remote: true %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="d-flex w-100 justify-content-end mt-5 mb-3">
	<button class="btn btn-info mr-2" data-dismiss="modal">Cerrar</button>
</div>

<style>
	.cell-tight{
		padding: 2px !important;
	}

	.table-tight{
		font-size: 12px;
	}
</style>

