<table class="table  table-bordered table-responsive-sm">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>N ADM</th>
			<th>Propietario</th>
			<th>Direccion</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.proprietary.name %></td>
				<td><%= n.property.address %></td>
				<td><%= n.property.state_string %></td>
				<td>
					<%= link_to "Crear liquidacion", new_settlement_path(n.contract.id), remote: true, class: 'btn btn-info mt-1' %>
					<%= link_to "Ver Liquidaciones", fetch_settlements_path(n.contract.id), remote: true, class: 'btn btn-success mt-1' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
