<%= simple_form_for @settlement do |f| %>
	<%= f.input :month, collection: @remaining_months_collection, include_blank: false, input_html: { data: {remote: :true, url: "/settlements/update_form_expenses/#{@settlement.contract.property.id}/#{@settlement.year}"} } %>
<% end %>
