<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Administración' %>


		<div class="section-body">
			<%= render 'partials/messages' %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">

							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Liquidación Propietario</h4>
								</div>

								<div class="card-header-form">
									<%= render( 'partials/search_form',
												model: 'administration_number',
												init_queries: ['active_contract'],
												constants: {},
												search_vars: [
													'id',
													'proprietary.name',
													'property.address',
													'property.state',
													],
												table_container_id: 'admin-n-table-container',
												table_partial: 'settlements/table_admin_n',
												query_name: 'admin_numbers') %>
								</div>
							</div>

							<div id="admin-n-table-container" class="card-body p-0">
								<%= render 'table_admin_n', admin_numbers: @admin_numbers %>
							</div>
						</div>

					</div>
				</div>
				<div class="card">
				</div>
			</div>
		</div>
	</section>
</div>
