<span class="float-right">Antofagasta <%= settlement.date %></span>
<br/>
<table class="">
	<tr>
		<td>Señor(a)</td>
		<td></td>
	</tr>
	<tr>
		<td><%= proprietary.name %></td>
		<td>Liquidación Nro.: <%= settlement.number %></td>
	</tr>

	<tr>
		<td><%= property.address %></td>
		<td>Ref. Adm.: <%= admin_n.id %></td>
	</tr>
	<tr>
		<td> Santiago </td>
		<td></td>
	</tr>
</table>
<br/>
<span><strong>LIQUIDACIÓN DE RENTA DE ARRENDAMIENTO</strong></span>
<br/>
<table class="bordered">
	<tr>
		<td>Propietario: </td>
		<td><%= proprietary.name %></td>
	</tr>
	<tr>
		<td>Arrendatario: </td>
		<td><%= tenant.name %></td>
	</tr>
	<tr>
		<td>Propiedad:</td>
		<td><%= property.address %></td>
	</tr>
</table>
<br/>
<span class="float-left">DETALLE</span>
<table class="bordered">
	<tr>
		<td>Arriendo para <%= settlement.range %></td>
		<td><%= fmt_number(settlement.contract.rent) %></td>
		<td></td>
	</tr>
	<tr>
		<td>Multas por atraso</td>
		<td><%= 0 %></td>
		<td></td>
	</tr>
	<tr>
		<td>Administración <%= property.adm_percentage() %>% mas IVA Fact Nro. <%= settlement.invoice_number %></td>
		<td></td>
		<td><%= fmt_number(contract.administration_percentage) %></td>
	</tr>
	<tr>
		<td>Transferencia a Cta. Cte.</td>
		<td></td>
		<td><%= fmt_number(settlement.contract.rent + 0 - contract.administration_percentage) %></td>
	</tr>

	<tr></tr>

	<tr>
		<td class="no-border">Sumas Iguales</td>
		<td><%= fmt_number(settlement.contract.rent + 0) %></td>
		<td><%= fmt_number(settlement.contract.rent + 0) %></td>
	</tr>
</table>
<br/>
<table>
	<tr><td>La presente liquidación se transfiere a la <%= '-' %></td></tr>
	<tr><td>Adjunto encontrará, factura de comisión de administración y comprobante
			de transferencia bancaria.</td></tr>
	<tr><td>Sin otro particular, saluda atentamente a usted.</td></tr>
	<tr><td>Cherye Magnata Varas</td></tr>
	<tr><td>Jefe Oficina</td></tr>
	<tr><td>Inmobiliaria Cvitanic Ltda.</td></tr>
</table>

