updatedMonths = $('#settlement_month', $('<%= j render "update_form_months", contract: @contract %>'));
$('#settlement_month').replaceWith(updatedMonths);

$('#expenses').replaceWith('<%= j render "form_expenses", expenses: @expenses %>');
$('#totals').replaceWith('<%= j render "form_totals", total_discount: @total_discount, amount_to_transfer: @amount_to_transfer %>');
