<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <%if alert %>
          <div class="alert alert-danger" id="alert">
            <%= alert %>
          </div>
        <% end %>
        <div class="login-brand">
          <%= image_tag 'logo.jpg', class: 'shadow-light', style: 'width: 100px' %>
        </div>

        <div class="card card-primary">
          <div class="card-header text-center"><h2>Recuperación de Password</h2></div>

          <div class="card-body">
            <%= form_tag restore_password_path, remote: true do |f| %>
              <div class="form-group">
                <%= label_tag :email, 'Email', class: 'control-label' %>
                <%= text_field_tag :email, nil, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= submit_tag 'Recuperar', class: 'btn btn-primary btn-lg btn-block' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="simple-footer">
                Copyright © CVITANIC Inmobiliaria 2019
        </div>
      </div>
    </div>
  </div>
</section>
