<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <% if alert %>
          <div class="alert alert-danger" id="alert">
            <%= alert %>
          </div>
        <% end %>
        <div class="login-brand">
          <%= image_tag 'logo.jpg', class: 'shadow-light', style: 'width: 100px' %>
        </div>

        <div class="card card-primary">
          <div class="card-header text-center"><h2>Sistema Gestión de Arriendo</h2></div>

          <div class="card-body">
            <%= form_tag sessions_path do |form| %>
              <div class="form-group">
                <%= label_tag :rut, 'Rut', class: 'control-label' %>
                <%= text_field_tag :rut, nil, class: 'form-control rut-field', placeholder: 'xx.xxx.xxx-x' %>
              </div>

              <div class="form-group">
                <div class="d-block">
                    <%= label_tag :password, 'Contraseña', class: 'control-label' %>
                  <div class="float-right">
                    <%= link_to '¿Olvidaste tu contraseña?', forgot_password_path, class: 'text-small text-muted' %>
                  </div>
                </div>
                <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Tu contraseña' %>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                  <label class="custom-control-label" for="remember-me">Recuerdame</label>
                </div>
              </div>

              <div class="form-group">
                <%= submit_tag "Ingresar", class: 'btn btn-primary btn-lg btn-block' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="simple-footer">
                Copyright © CVITANIC Inmobiliaria 2019
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :extra_js do %>
	helpers.setRutFieldListenerByClass('rut-field');
<% end %>
