modal.reset();
modal.configDelete();
<% if @success %>
	modal.setHeader('Recuperación de Password Exitosa!');
	modal.setBody('La password a sido enviada a su correo!');
	modal.setFooter("<%= j link_to 'Cerrar', login_path, class: 'btn btn-info' %>");
<% else %>
	modal.setHeader('Recuperación de Password ha fallado');
	modal.setBody('No existe un usuario con ese correo');
<% end %>
modal.show();
