
<div class="row justify-content-center mt-3 px-4">
	<div class="col-12">
		<div class="card">

			<!-- New adminsitration number form -->
			<%= form_with model: AdministrationNumber, remote: true, url: assign_admin_n_path do |f| %>
				<div class="form-row ">
					<% if @editing %>
						<div class="col-sm-2 align-self-end"><%= label_tag :admin_n, 		  'N° Administración', class: 'control-label' %></div>
						<div class="col-sm-3 align-self-end"><%= label_tag :proprietary_name, 'Nombre Propietario', class: 'control-label' %></div>
						<div class="col-sm-4 align-self-end"><%= label_tag :property_address, 'Direccion Propiedad', class: 'control-label' %></div>
						<div class="col-sm-3 align-self-end"><%= label_tag :tenant_name, 	  'Nombre Arrendatario', class: 'control-label' %></div>
					<% else %>
						<div class="col-sm-2 align-self-end"><%= label_tag :admin_n, 'N° Administración sin Contrato', class: 'control-label' %></div>
						<div class="col-sm-2 align-self-end"></div>
						<div class="col-sm-2 align-self-end"><%= label_tag :proprietary_name, 'Nombre Propietario', class: 'control-label' %></div>
						<div class="col-sm-4 align-self-end"><%= label_tag :property_address, 'Direccion Propiedad', class: 'control-label' %></div>
						<div class="col-sm-2 align-self-end"><%= label_tag :tenant_name, 'Nombre Arrendatario', class: 'control-label' %></div>
					<% end %>
				</div>

				<div class="form-row ">
					<% if @editing %>
						<div class="col-sm-2"><%= text_field_tag :admin_n, 			@contract.administration_number ? @contract.administration_number.id : nil, class: 'form-control', disabled: true %></div>
						<div class="col-sm-3"><%= text_field_tag :proprietary_name, @contract.administration_number ? @contract.administration_number.proprietary.name : nil, class: 'form-control', disabled: true, id: 'proprietary-name' %></div>
						<div class="col-sm-4"><%= text_field_tag :property_address, @contract.administration_number ? @contract.administration_number.property.address : nil, class: 'form-control', disabled: true, id: 'property-address'%></div>
						<div class="col-sm-3"><%= text_field_tag :tenant_name,      @contract.administration_number ? @contract.administration_number.tenant.name : nil,      class: 'form-control', disabled: true, id: 'tenant-name' %></div>
					<% else %>
						<div class="col-sm-2">
							<%= select_tag :admin_n, options_for_select(AdministrationNumber.without_contract_collection), class: 'form-control' %>
							<div class='error'><%= show_errors(contract, :admin_n) %></div>
						</div>
						<div class="col-sm-2"><%= f.submit 'Aceptar', class: 'btn btn-info w-100' %></div>
						<div class="col-sm-2"><%= text_field_tag :proprietary_name, @editing ? @contract.administration_number.proprietary.name : nil, class: 'form-control', disabled: true, id: 'proprietary-name' %></div>
						<div class="col-sm-4"><%= text_field_tag :property_address, @editing ? @contract.administration_number.property.address : nil, class: 'form-control', disabled: true, id: 'property-address'%></div>
						<div class="col-sm-2"><%= text_field_tag :tenant_name,      @editing ? @contract.administration_number.tenant.name : nil,      class: 'form-control', disabled: true, id: 'tenant-name' %></div>
					<% end %>
				</div>

			<% end %>
			<br/>

			<%= simple_form_for contract, id: 'contract-form', html: {multipart: true} do |f| %>

				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="cotract-tab1" data-toggle="tab" href="#info_contract" role="tab" aria-controls="home" aria-selected="true">Información de Contrato</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" id="contract-tab2" data-toggle="tab" href="#stored" role="tab" aria-controls="admin" aria-selected="false">Inventario</a>
					</li>

				</ul>

				<div class="tab-content tab-bordered">

					<!-- Info Contract tab -->
					<div class="tab-pane fade show active " id="info_contract" role="tabpanel" aria-labelledby="cotract-tab1">

						<%= text_field_tag :administration_number, nil, id: 'admin-n', hidden: true %>

						<!-- Contract data -->
						<div class="form-row">
							<div class="form-group col-md-3">
								<%= f.input :start_date, as: :date_picker, label: 'Fecha Inicio', input_html: {id: 'start-date'} %>
							</div>
							<div class="form-group col-md-3">
								<%= f.input :expiration_date, as: :date_picker, label: 'Fecha Termino', input_html: {id: 'expiration-date'} %>
							</div>

							<div class="form-group col-md-2">
								<%= f.input :expiration_notice, collection: Contract.expiration_notice_collection, include_blank: false, label: 'Aviso Termino' %>
							</div>

							<div class="form-group col-md-2">
								<%= f.input :daily_penalty_percentage, label: '% Multa Daria', input_html: {type: 'text', class: 'float-field'} %>
							</div>

							<div class="form-group col-md-2">
								<%= label_tag :days_for_penalty, 'Aplica multa al *', class: 'control-label' %>
								<div class="d-flex align-items-center">
									<%= f.input :days_for_penalty, label: false, input_html: {min: 0} %>
									<small class="m-0 ml-1 p-0">día</small>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-3">
								<%= f.input :rent, label: 'Valor del Arriendo', input_html: {type: 'text', class: 'float-field'} %>
							</div>

							<div class="form-group col-md-3">
								<%= f.input :currency, collection: Contract.currency_collection, include_blank: false, label: 'Moneda' %>
							</div>

							<div class="form-group col-md-3">
								<%= f.input :readjustment_term, collection: Contract.readjustment_term_collection, include_blank: false, label: 'Plazo Reajustabilidad' %>
							</div>

							<div class="form-group col-md-3">
								<%= f.input :readjustment_type, collection: Contract.readjustment_type_collection, include_blank: false, label: 'Tipo Reajuste' %>
							</div>
						</div>

						<!-- Warranty data -->
						<div class="w-75 form-row justify-content-center border-top border-bottom mx-auto pt-4 pb-3">
							<div class="form-group col-md-4">
								<%= f.input :warranty, label: 'Valor de la Garantia', input_html: {type: 'text', class: 'float-field'} %>
							</div>
							<div class="form-group col-md-4">
								<%= f.input :warranty_payment, collection: Contract.warranty_payment_collection, include_blank: false, label: 'Tipo Reajuste', input_html: {id: 'warranty-payment'} %>
							</div>
							<div class="form-group col-md-4">
								<%= f.input :amount_of_fees, collection: Contract.amount_of_fees_collection, include_blank: false, label: 'Cantidad de Cuotas', input_html: {id: 'amount-of-fees'} %>
								<%= f.input :amount_of_fees, as: :text, input_html: {id: 'amount-of-fees-aux', disabled: true, hidden: true, value: 1}, label_html: {hidden: true} %>
							</div>
						</div>

						<!-- Readjustments data -->
						<div class="form-row mt-5">
							<div class="form-group col-md-2">
								<%= f.input :amount_of_readjustments, label: 'Cantidad de Periodo', input_html: {min: 1, data: {remote: true, url: "/contracts/update_readjustment_fields"}} %>
							</div>

							<div class="col-md-10 readjustment-fields-container" id="readjustment-fields-container">
								<%= render 'readjustment_fields', f: f, contract: contract %>
							</div>
						</div>

						<!-- Bottom Row -->
						<div class="row">

							<!-- Inventory -->
							<div class="col-sm-8">
								<div class="row">
									<div class="col-sm-4">
										<%= render 'partials/file_button_noform', object: contract, file_field: :inventory, label: 'Subir Contrato e Inventario', previous: false %>
									</div>
									<%#= file_field_tag :inventory, class: 'd-none', accept: 'image/png,image/jpeg,application/pdf' %>
									<div class="col-sm-1"><%= label_tag      :inventory_date, 'Fecha', class: 'control-label' %></div>
									<div class="col-sm-4"><%= date_field_tag :inventory_date, Date.today, class: 'form-control' %></div>
								</div>
							</div>

							<!-- Submit -->
							<div class="col-sm-4">
								<%= link_to 'Cancelar', contracts_path, class: 'btn btn-danger btn-lg mr-4' %>
								<% if can? :manage, contract %><%= f.submit 'Guardar', onclick: 'modal.showProcessing();', class: "btn btn-success btn-lg" %><% end %>
							</div>

						</div>
					</div>

					<!-- Discharge tab -->
					<div class="tab-pane fade" id="stored" role="tabpanel" aria-labelledby="contract-tab2">
						<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-1"><%= label_tag      :discharge_date, 'Fecha', class: 'control-label' %></div>
								<div class="col-sm-3"><%= date_field_tag :discharge_date, Date.today, class: 'form-control' %></div>
								<div class="col-sm-2">
									<%= render 'partials/file_button_noform', object: contract, file_field: :discharge, label: 'Subir Descargo', previous: false %>
								</div>
								<%= file_field_tag :discharge, class: 'd-none', accept: 'image/png,image/jpeg,application/pdf' %>
								<div class="col-sm-3"></div>
						</div>

						<table class="table table-bordered table-responsive-sm">
							<thead class="thead-dark">
								<tr class="text-center">
									<th>Fecha Descargo</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								<% f.object.discharges.each do |discharge| %>
									<tr class="text-center">
										<td><%= discharge.date %></td>
										<td><%= link_to 'Ver Descargo', show_contract_discharge_path(discharge.id), class: 'btn btn-info', remote: true %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

						<table class="table table-bordered table-responsive-sm">
							<thead class="thead-dark">
								<tr class="text-center">
									<th>Fecha Inventario</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								<% f.object.inventories.each do |inventory| %>
									<% if not inventory.id.nil? %>
										<tr class="text-center">
											<td><%= inventory.date %></td>
											<td><%= link_to 'Ver Inventario', show_contract_inventory_path(inventory.id), class: 'btn btn-info', remote: true %></td>
										</tr>
									<% end %>
								<% end %>
							</tbody>
						</table>
					</div>

				</div>
			<% end %>
		</div>

	</div>
</div>

<% content_for :extra_js do %>
	helpers.setFloatFieldListenerByClass('float-field');


	var amountOfFeesField = document.getElementById('amount-of-fees');
	var amountOfFeesAuxField = document.getElementById('amount-of-fees-aux')
	function warrantyPaymentFieldListener(warrantyPayment) {
		console.log(warrantyPayment);
		if (warrantyPayment == 'total') {
			amountOfFeesField.disabled = true;
			amountOfFeesAuxField.disabled = false;
			amountOfFeesField.value = 1;
		} else {
			amountOfFeesField.disabled = false;
			amountOfFeesAuxField.disabled = true;
		}
	}

	var warrantyPaymentField = document.getElementById('warranty-payment');
	warrantyPaymentField.onchange = function(evt) {
		warrantyPaymentFieldListener(evt.target.value);
	}
	warrantyPaymentFieldListener(warrantyPaymentField.value);
<% end %>
