<%= f.simple_fields_for :readjustments, id: 'readjustment_fields' do |rf| %>
	<div class="form-row">
		<div class="form-group col-md-3">
			<%= label_tag 		:from, 'Desde', class: 'control-label' %>
			<%= date_field  '', :from, class: 'form-control from-date-field', disabled: true %>
		</div>

		<div class="form-group col-md-3">
			<%= rf.input :until, as: :date_picker, label: 'Hasta', input_html: {class: 'until-date-field'} %>
		</div>

		<div class="form-group col-md-2">
			<%= rf.input :amount, label: 'Valor Reajuste', input_html: {type: 'text', class: 'float-field'} %>
		</div>

		<div class="form-group col-md-2">
			<%= rf.input :currency, collection: Contract.currency_collection, include_blank: false, label: 'Moneda' %>
		</div>

		<div class="form-group col-md-2">
			<%= label_tag 	     :total_rent, 'Valor Arriendo', class: 'control-label' %>
			<%= number_field_tag :total_rent, nil, type: 'text', class: 'form-control total-rent float-field', disabled: true %>
		</div>
	</div>

<% end %>

<% content_for :extra_js do %>
	helpers.setReadjustmentDateHandlers();
<% end %>
