<div class="card-body p-0">
	<div class="">
		<table id="contracts-table" class="table table-bordered table-responsive-sm">
			<thead class="thead-dark">
				<tr class="text-center">
					<th class="cell-tight">Nº ADM</th>
					<th class="cell-tight">Tipo Contrato</th>
					<th class="cell-tight">Fecha Inicio</th>
					<th class="cell-tight">Fecha Termino</th>
					<th class="cell-tight">Nombre Arrendatario</th>
					<th class="cell-tight">Direccion Arrendatario</th>
					<th class="cell-tight">Acciones</th>
				</tr>
			</thead>

			<% contracts.each do |contract| %>
				<% if can? :read, contract %>
					<tr class="text-center">
						<% if contract.administration_number %>
							<% admin_number = contract.administration_number.id %>
							<% tenant_name = contract.administration_number.tenant.name %>
							<% tenant_address = contract.administration_number.tenant.address %>
						<% else %>
							<% admin_number = '-' %>
							<% tenant_name = '-' %>
							<% tenant_address = '-' %>
						<% end %>
						<td class="cell-tight"><%= admin_number %></td>
						<td class="cell-tight"><%= contract.state_string %> </td>
						<td class="cell-tight"><%= contract.start_date.strftime('%d-%m-%Y') %></td>
						<td class="cell-tight"><%= contract.expiration_date.strftime('%d-%m-%Y') %></td>
						<td class="cell-tight"><%= tenant_name %></td>
						<td class="cell-tight"><%= tenant_address %></td>
						<td class="cell-tight">

						<%= link_to 'Ver Contrato e Inventario', edit_contract_path(contract), class: 'btn btn-tight btn-info mt-1' %>
						<% if contract.active and can? :destroy, contract %>
							<%= link_to 'Terminar Contrato', show_termiante_form_path(contract), remote: true, class: 'btn btn-tight btn-danger mt-1' %>
						<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>

<style>
	.btn-tight{
		padding: 2px;
	}

	.button-container{
		padding: 0px 0px 0px 0px !important;
	}

	.card-body {
		font-size: 13px;
	}

	.btn{
		font-size: 10px;
	}

	.cell-tight{
		padding: 2px !important;
	}
</style>
