<div class="card-body p-0">

	<%= simple_form_for contract, url: terminate_contract_path(contract) do |f| %>
		<!-- Tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="contract-info-tab" data-toggle="tab" href="#contract-info" role="tab" aria-controls="home" aria-selected="true">Información de Contrato</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="warranty-settlement-tab" data-toggle="tab" href="#warranty-settlement" role="tab" aria-controls="admin" aria-selected="false">Generar Liquidación Garantía</a>
			</li>
		</ul>

		<div class="tab-content tab-bordered">

			<!-- Contract Info -->
			<div class="tab-pane fade show active" id="contract-info" role="tabpanel" aria-labelledby="contract-info-tab">

				<div class="row">
					<div class="col-sm-2">
						<%= label_tag	   :admin_n, 'N Administracion', class: 'control-label' %>
						<%= text_field_tag :admin_n, contract.administration_number.id, {class: 'form-control', disabled: true} %>
					</div>

					<div class="col-sm-2">
						<%= f.input :start_date, label: 'Fecha Inicio', as: :text, class: 'form-control', disabled: true, input_html: {value: f.object.start_date.strftime('%d-%m-%Y')} %>
					</div>

					<div class="col-sm-2">
						<%= f.input :expiration_date, label: 'Fecha Termino', as: :text, class: 'form-control', disabled: true, input_html: {value: f.object.expiration_date.strftime('%d-%m-%Y')} %>
					</div>

					<div class="col-sm-2">
						<%= label_tag	   :admin_n, 'Dirección', class: 'control-label' %>
						<%= text_field_tag :admin_n, contract.administration_number.property.address, class: 'form-control', disabled: true %>
					</div>

					<div class="col-sm-2">
						<%= label_tag 	   :tenant, 'Arrendatario', class: 'control-label' %>
						<%= text_field_tag :tenant, contract.administration_number.tenant.name, class: 'form-control', disabled: true %>
					</div>

					<div class="col-sm-2">
						<%= label_tag 	   :proprietary, 'Propietario', class: 'control-label' %>
						<%= text_field_tag :proprietary, contract.administration_number.proprietary.name, class: 'form-control', disabled: true %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4"><%= f.input :termination_date, as: :date_picker, label: 'Fecha Entrega Propiedad', class: 'form-control' %></div>

					<div class="col-sm-8"><%= f.input :termination_comment, label: 'Observación / Causal de Término', class: 'form-control' %></div>
				</div>

				<%= f.number_field :id, {hidden: true} %>

				<button class="btn btn-danger btn-lg mr-4"> Cancelar </button>
				<%= f.submit 'Guardar', class: 'btn btn-success btn-lg', onclick: 'modal.hide();' %>
			</div>

			<!-- Warranty Settlement -->
			<div class="tab-pane fade" id="warranty-settlement" role="tabpanel" aria-labelledby="warranty-settlement-tab">

				<table class="table table-bordered table-responsive-sm">
					<thead class="thead-dark">
						<tr class="text-center">
							<th colspan="2">Monto Garantía</th>
						</tr>
					</thead>

					<tbody>
						<tr class="text-center">
							<td>Garantía Mes</td>
							<td id="contract-warranty-field"><%= fmt_number contract.warranty %></td>
						</tr>
					</tbody>
				</table>

				<div id="contract-expenses-fields">
					<table class="table table-bordered table-responsive-sm">
						<thead class="thead-dark">
							<tr class="text-center">
								<th>Gastos</th>
								<th>Monto</th>
							</tr>
						</thead>
						<tbody id="contract-expense-rows-container">
							<%= f.fields_for :contract_expenses do |ef| %>
								<tr class="text-center contract-expense-row">
									<td><div class="row">
										<div class="col-sm-6"><%= ef.input :date, as: :date_picker, label: 'Fecha del Gasto' %></div>
										<div class="col-sm-6"><%= ef.input :description, label: 'Detalle del Gasto' %></div>
									</div></td>
									<td>
										<%= ef.input :amount, label: 'Monto', id: 'expense-amount-field'%>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

				<div class="d-flex justify-content-end">
					<%= link_to add_contract_expense_path(contract, f.object.contract_expenses.length + 1), id: 'add-contract-expense-link', remote: true do %>
						<i class="fa fa-plus-circle text-success h3"></i> <span>Agregar Gasto</span>
					<% end %>
				</div>

				<div class="d-flex justify-content-end">
					<h3>Total: <span id="warranty-total"></span></h3>
				</div>

				<%= link_to 'Generar Recibo Garantía', '#', class: 'btn btn-success btn-lg', remote: true %>
				<%= link_to 'Ver Recibo Garantía', '#', class: 'btn btn-success btn-lg', remote: true %>
				<button class="btn btn-danger btn-lg mr-4" onclick="modal.hide();"> Cancelar </button>
			</div>

		</div>
	<% end %>
</div>

