<%= form_with model: contract, id: 'contract-form' do |f| %>
	<div class="form-row" id="readjustment-fields-container">
		<%= render 'readjustment_fields', f: f, contract: contract %>
	</div>
<% end %>
