var contractExpenseRowsContainer = document.getElementById('contract-expense-rows-container');
var addContractExpenseLink = document.getElementById('add-contract-expense-link');

var dummyHtml = document.createElement('html');
dummyHtml.innerHTML = '<%= j render "terminate_form", contract: @contract %>';

var contractExpenseRows = dummyHtml.getElementsByClassName('contract-expense-row');
console.log(contractExpenseRows);
contractExpenseRowsContainer.appendChild(contractExpenseRows[contractExpenseRows.length -1]);

addContractExpenseLink.href = "<%= add_contract_expense_path(@contract, @count+1) %>";

var warrantyTotalField = $('#warranty-total');
var expenseAmountFields = $('[id$="amount"]');

function updateFields(){

	var sum = parseFloat(document.getElementById('contract-warranty-field').innerHTML);

	expenseAmountFields.each(function(idx, el){
		sum += -parseFloat(el.value);
	});

	warrantyTotalField.html(sum);
}

expenseAmountFields.on('change', function(){
	updateFields();
});

updateFields();
