var adminNInput = document.getElementById('admin-n');
var proprietaryNameInput = document.getElementById('proprietary-name');
var propertyAddressInput = document.getElementById('property-address');
var tenantNameInput = document.getElementById('tenant-name');

adminNInput.value = '<%= @admin_n.id %>';
proprietaryNameInput.value = '<%= @admin_n.proprietary.name %>';
propertyAddressInput.value = '<%= @admin_n.property.address.delete("\n") %>';
tenantNameInput.value = '<%= @admin_n.tenant.name %>';
