<%= render 'partials/messages' %>

<% if can? :read, Contract %>
	<div class="main-content">
		<section class="section">
			<%= render 'partials/title', title: 'Contrato' %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Ver Contrato e Inventario</h4>
									<%= render 'partials/excel_button', table_id: 'contracts-table', file_name: 'contratos' %>
								</div>
								<div class="card-header-form">
									<%= render( 'partials/search_form',
												model: 'contract',
												init_queries: [],
												constants: {},
												search_vars: [
													'administration_number.id',
													'active',
													'start_date',
													'expiration_date',
													'administration_number.tenant.name',
													'administration_number.tenant.address',
													],
												table_container_id: 'contracts-table-container',
												table_partial: 'contracts/table',
												query_name: 'contracts') %>
								</div>
							</div>
							<div id="contracts-table-container" class="card-body p-0">
								<%= render 'table', contracts: @contracts %>
							</div>
						</div>

						<div id="card-container" class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
							</div>
							<div class="card-body p-0">
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>


<% else %>
	<h1> No tienes permitido ver contratos </h1>
<% end %>
