<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Contrato' %>
		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<h4>Ingresar Datos Contrato</h4>
							</div>
						</div>

						<div class="card-body p-0">
							<%= render 'form', contract: @contract %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
