modal.configXl();
modal.reset();
modal.setHeader('Información Termino de Contrato');
modal.setBody('<%= j render "terminate_form", contract: @contract %>');
var warrantyTotalField = $('#warranty-total');
warrantyTotalField.html(parseFloat(document.getElementById('contract-warranty-field').innerHTML));

modal.show();
