var newHtml = document.createElement('html');
newHtml.innerHTML = "<%= j render 'form', contract: @contract %>";
var newReadjustmentFields = newHtml.getElementsByClassName('readjustment-fields-container')[0];

document.getElementById('readjustment-fields-container').innerHTML = newReadjustmentFields.innerHTML;
helpers.setReadjustmentDateHandlers();
helpers.setFloatFieldListenerByClass('float-field', fromSrv = false);
