<%= render 'partials/flash_alerts' %>

<%= simple_form_for property_work, remote: true do |f| %>
	<div id="property-work-fields">
		<div class="row">
			<div class="col-sm-3"><%= f.input :description, label: 'Trabajo a Realizar', input_html: {id: 'description-field'} %></div>
			<div class="col-sm-3"><%= f.input :provider, label: 'Proveedor o Persona', input_html: {id: 'provider-field'} %></div>
			<div class="col-sm-2"><%= f.input :start_date, as: :date_picker, label: 'Fecha de Inicio' %></div>
			<div class="col-sm-2"><%= f.input :end_date, as: :date_picker, label: 'Fecha de Termino' %></div>
			<div class="col-sm-2"><button class="btn btn-success" id="show-expenses-button">Ingresar Gasto</button></div>
		</div>
		<%= f.input :property_id, as: :hidden %>

		<%= f.submit 'Guardar', class: 'btn btn-success float-right', onclick: 'modal.showProcessing();' %>
		<button class="btn btn-danger float-right" data-dismiss="modal">Cancelar</button>
	</div>

	<div id="expenses-fields" hidden>
		<div id="expense-rows">
			<% count = 0 %>
			<%= f.simple_fields_for :expenses do |ef| %>
				<div class="expense-row border" id="expense-<%= count %>"">
				<div class="row">
					<div class="col-sm-3"><%= ef.input :date, as: :date_picker, label: 'Fecha' %></div>
					<div class="col-sm-3"><%= ef.input :amount, label: 'Monto del Gasto', input_html: {type: 'text', class: 'float-field'} %></div>
					<div class="col-sm-3"><%= ef.input :description, label: 'Detalle del Gasto', input_html: {value: f.object.description, class: 'expense-description-field'} %></div>
					<div class="col-sm-3"><%= ef.input :provider_name, label: 'Nombre o Proveedor', input_html: {value: f.object.provider, class: 'expense-provider-field'} %></div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<%= ef.input :contributions, label: 'Contribuciones' %>
						<% if count > 0 %>
							<i class="fa fa-minus-circle text-danger h3" style="cursor: pointer;" onclick="removeExpense('expense-<%= count %>');"></i>
							<%= ef.input_field :_destroy, as: :hidden, id: 'destroy-expense-'+count.to_s %>
						<% end %>
					</div>
					<div class="col-sm-2"><%= ef.input :voucher_type, label: 'Tipo Comprobante', collection: Expense::VOUCHERTYPE_STR.invert, include_blank: false %></div>
					<div class="col-sm-3"><%= ef.input :voucher_number, label: 'N° de Comprobante' %></div>
					<div class="col-sm-2 mid-bottom"><%= render 'partials/file_button', f: ef, file_field: :voucher, label: 'Evidencia', previous: true %></div>
					<div class="col-sm-3"><%= ef.input :proprietary, label: 'Asignar a...', collection: [['Arrendatario', 0], ['Propietario', 1]], include_blank: false %></div>
				</div>
				</div>
				<% count += 1 %>
			<% end %>
		</div>

		<%= link_to 'Agregar Gasto', property_work_add_expense_path(f.object.expenses.length + 1), class: 'btn btn-info float-right', id: 'add-expense-link', remote: true %>
		<button class="btn btn-success float-right" id="hide-expenses-button">Listo</button>
	</div>
<% end %>

<style>
	.float-right{
		float: right;
		margin-right: 10px;
	}

	.center{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mid-bottom{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.expense-row{
		padding: 10px;
		margin-bottom: 10px;
	}
</style>

<%= content_for :extra_js do %>
	helpers.setFloatFieldListenerByClass('float-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('float-field');
	}

	function removeExpense(id){
		elem = document.getElementById(id);
		elem.hidden = true;
		destroy_field = document.getElementById('destroy-'+id);
		destroy_field.value = true;
	}
</script>
