<table class="table table-bordered table-responsive-sm" id="property-works-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Nº ADM</th>
			<th>Nombre Arrendatario</th>
			<th>Dirección</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.tenant.name %></td>
				<td><%= n.property.address %></td>
				<td>
					<%= link_to 'Registrar Trabajo', new_property_work_path(n.property.id), class: 'btn btn-info mt-1', remote: true %>
					<%= link_to 'Ver Trabajos', show_property_works_path(n.property.id), class: 'btn btn-success mt-1', remote: true %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
