<%= render 'partials/excel_button_fake_table', table_id: 'property-works-fake-table', file_name: 'trabajos_en_propiedad' %>

<div id="property-works-fake-table">
	<div class="row faketable-header">
		<div class="col-sm-2 thead"><strong>Trabajo</strong></div>
		<div class="col-sm-2 thead"><strong>Estado</strong></div>
		<div class="col-sm-2 thead"><strong>Fecha Inicio</strong></div>
		<div class="col-sm-2 thead"><strong>Fecha Termino</strong></div>
		<div class="col-sm-2 thead"><strong>Quién lo Realizó</strong></div>
		<div class="col-sm-2 thead"><strong>Monto Total del Gasto</strong></div>
	</div>

	<% property_works.each do |property_work| %>
		<%= simple_form_for property_work, url: update_property_work_path(property_work.id), remote: true, authenticity_token: true do |f| %>
			<div class="row faketable-row">
				<div class="col-sm-2 tcell"><%= property_work.description %></div>
				<div class="col-sm-2 tcell"><%= f.input :finished, collection: PropertyWork.state_collection, label: false, include_blank: false, input_html: {onchange: 'this.form.submit();'} %></div>
				<div class="col-sm-2 tcell"><%= property_work.start_date.strftime('%d-%m-%Y') %></div>
				<div class="col-sm-2 tcell"><%= f.input :end_date, as: :date_picker, label: false, input_html: {onchange: 'this.form.submit();'} %></div>
				<div class="col-sm-2 tcell"><%= property_work.provider %></div>
				<div class="col-sm-2 tcell"><%= fmt_number(property_work.total_expense) %></div>
			</div>
		<% end %>
	<% end %>
</div>

<style>
	.thead{
		text-align: center;
		padding: 3px;
		background-color: rgba(0, 0, 0, 0.04);
	}

	.tcell{
		border-style: solid;
		border-width: 1px;
		border-color: rgba(0, 0, 0, 0.04);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.tcell > div {
		margin: 0;
	}
</style>
