var expenseRows = document.getElementById('expense-rows');
var addExpenseLink = document.getElementById('add-expense-link');

// Add new field to the form
var newHtml = document.createElement('html');
newHtml.innerHTML = "<%= j render 'form', property_work: @dummy_property_work %>"
var expenses = newHtml.getElementsByClassName('expense-row');
var newRow = expenses[expenses.length - 1];
expenseRows.appendChild(newRow);

// Update add-expense-link
addExpenseLink.href = "<%= property_work_add_expense_path(@n_expenses +1) %>";

// Update fields
var descriptionField = document.getElementById('description-field');
var providerField = document.getElementById('provider-field');

var expenseDescriptionFields = document.getElementsByClassName('expense-description-field');
for(var i = 0; i < expenseDescriptionFields.length; i++) {
	expenseDescriptionFields[i].value = descriptionField.value;
}

var expenseProviderFields = document.getElementsByClassName('expense-provider-field');
for(var i = 0; i < expenseProviderFields.length; i++) {
	expenseProviderFields[i].value = providerField.value;
}
