<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: "Administración" %>
		<% if can? :read, PropertyWork %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Trabajos a Propiedades</h4>
									<%= render 'partials/excel_button', table_id: 'property-works-table', file_name: 'trabajosAPropiedad' %>
								</div>

								<div class="card-header-form">
									<%= render( 'partials/search_form',
												model: 'administration_number',
												init_queries: ['active_contract'],
												constants: {},
												search_vars: [
													'id',
													'tenant.name',
													'property.address',
													],
												table_container_id: 'admin-n-table-container',
												table_partial: 'property_works/table_admin_n',
												query_name: 'admin_numbers') %>
								</div>
							</div>

							<div class="card-body p-0">
								<div class="table-responsive" id="admin-n-table-container">
									<%= render 'table_admin_n', admin_numbers: @admin_numbers %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		<% else %>
			<h1> No tienes permitido ver los trabajos a propiedad </h1>
		<% end %>
	</section>
</div>
