	modal.reset();
modal.configXl();
modal.setHeader(`Trabajos en <%= @property_work.property.address %>`);
modal.setBody("<%= j render 'form', property_work: @property_work %>");

var propertyWorkFields = document.getElementById('property-work-fields');
var expensesFields = document.getElementById('expenses-fields');
var showExpensesButton = document.getElementById('show-expenses-button');
var hideExpensesButton = document.getElementById('hide-expenses-button');

showExpensesButton.onclick = function(evt){
	evt.preventDefault();
	propertyWorkFields.hidden = true;
	expensesFields.hidden = false;
}

hideExpensesButton.onclick = function(evt){
	evt.preventDefault();
	expensesFields.hidden = true;
	propertyWorkFields.hidden = false;
}

var descriptionField = document.getElementById('description-field');
var providerField = document.getElementById('provider-field');

descriptionField.onchange = function(evt){
	var expenseDescriptionFields = document.getElementsByClassName('expense-description-field');

	for(var i = 0; i < expenseDescriptionFields.length; i++) {
		expenseDescriptionFields[i].value = evt.target.value;
	}
}

providerField.onchange = function(evt){
	var expenseProviderFields = document.getElementsByClassName('expense-provider-field');

	for(var i = 0; i < expenseProviderFields.length; i++) {
		expenseProviderFields[i].value = evt.target.value;
	}
}

modal.show()
