modal.configXl();
modal.reset();
modal.setHeader(`Trabajos Realizados en <%= @property.address %>`);
modal.setBody("<%= j render 'table', property_works: @property_works %>");
modal.setFooter('<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>');
modal.show()
