<% color = data == 0 ? 'green' : 'red' %>

<a class="dashboard-card-link" href="<%= href %>">
	<div class="dashboard-card">
		<div class="header"><%= header %></div>
		<div class="data" style="color: <%=color%>;"><%= data %></div>
		<div class="footer" style="color: <%=color%>;"><%= footer %></div>
	</div>
</a>

<style>
	.dashboard-card{
		min-width: 300px;
		min-height: 300px;
		margin: 30px;
		padding: 30px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		text-align: center;

		background-color: rgba(242, 242, 242, 1);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	}

	.dashboard-card-link:hover{
		text-decoration: none;
	}

	.header {
		font-size: 30px
	}

	.data {
		font-size: 60px;
	}

	.footer {
		font-size: 30px
	}
</style>
