<p class="h5 mt-1 mb-0" style="cursor: pointer;">
	<!--<i class="fa fa-file-excel text-success" id="excel-button" onclick="helpers.downloadXlsxFromTable('<%= table_id %>', '<%= file_name %>');"></i>-->
	<i class="fa fa-file-excel text-success" id="excel-button"></i>
</p>

<script data-turbolinks="false">
	excelButton = document.getElementById('excel-button');
	excelButton.onclick = function() {
		helpers.downloadXlsxFromTable('<%= table_id %>', '<%= file_name %>');
	}
</script>
