<div class="form-group file-button">
	<% btn_class = (previous and f.object.send(file_field).attached?) ? 'btn-success' : 'btn-info' %>
	<%= f.file_field file_field, class: 'd-none file-field', accept: 'image/png,image/jpeg,application/pdf', onchange: 'helpers.fileUploadSuccess(event);' %>
	<%= f.label file_field, label, class: "btn #{btn_class}", style: 'color: white;' %>
	<div class="error"><%= show_errors(f.object, file_field) %></div>
</div>
