<div class="file-button">
	<% btn_class = (previous and object.send(file_field).attached?) ? 'btn-success' : 'btn-info' %>
	<%= file_field_tag file_field, class: 'd-none file-field', accept: 'image/png,image/jpeg,application/pdf', onchange: 'helpers.fileUploadSuccess(event);' %>
	<%= label_tag file_field, label, class: "btn #{btn_class}", style: 'color: white;' %>
	<div class="error"><%= show_errors(object, file_field) %></div>
</div>
