<div class="modal fade" tabindex="-1" role="dialog" id="modal-forbidden-action">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">No tiene permisos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>Usted no puede realizar esta acción</p>
			</div>

			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
			</div>

		</div>
	</div>
</div>
