<head>
  <title>Arrendamiento</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

  <meta charset="utf-8" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'head', 'data-turbolinks-track': 'reload' %>

</head>
