<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
	<form class="form-inline mr-auto">
		<ul class="navbar-nav mr-3">
			<li><span data-toggle="sidebar" class="nav-link nav-link-lg pointer"><i class="fas fa-bars"></i></span></li>
			<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
		</ul>
	</form>

	<ul class="navbar-nav navbar-right">
		<li>
			<%= link_to logout_path do %>
				<span class="nav-link nav-link-lg pointer"><i class="fas fa-sign-out-alt"></i></span>
			<% end %>
		</li>

		<li class="dropdown">
			<a href="#" class="nav-link nav-link-lg nav-link-user">
				<%= image_tag 'avatar/avatar-1.png', class: 'rounded-circle mr-1', style: 'width: 30' %>
				<% if current_user %>
					<div class="d-sm-none d-lg-inline-block"><%= current_user.name %></div></a>
				<% else %>
					<div class="d-sm-none d-lg-inline-block">No User</div></a>
				<% end %>
			</a>
		</li>
	</ul>
</nav>
