<div class="card">
    <div class="card-content">
        
        <h1 class="subtitle"><strong><%= @publication.cargo %></strong></h1>

        <div class="columns">
            <div class="column">
                <strong> Fecha:</strong> <%= @publication.fecha %>
            </div>
            <div class="column">
                <strong> Cantidad:</strong> <%= @publication.cantidad %>
            </div>
            <div class="column">
                <strong> Tipo cargo: </strong> <%= @publication.tipo_cargo %>
            </div>

            <div class="column">
                <strong> Ciudad:</strong> <%= @publication.ciudad %>
            </div>
        </div>

        <p>
        <strong>Especificaciones académicas:</strong>
        <%= @publication.especificaciones_academicas %>
        </p>

        <p>
        <strong>Especificaciones laborales:</strong>
        <%= @publication.especificaciones_laborales %>
        </p>
        <br>
        <p>
            <% if @publication.especificaciones_file.attached? %>
                <strong>Descriptor cargo:</strong>
                <%= link_to 'Ver archivo', @publication.especificaciones_file, target: "_blank", class:'button is-info is-outlined' %>
            <% end %>
        </p>
    </div>
</div>
