<div class="d-flex justify-content-center">
	<%= form_with url: search_path, remote: true do |f| %>
		<!-- Model to perform query -->
		<%= f.text_field :model, value: model, hidden: true %>

		<!-- Init queries -->
		<% if not local_assigns[:init_queries].nil? %>
			<% local_assigns[:init_queries].each_with_index do |init_query, i| %>
				<%= f.text_field 'init_queries['+i.to_s+']', value: init_query, hidden: true %>
			<% end %>
		<% end %>

		<!-- Query constants -->
		<% if not local_assigns[:constants].nil? %>
			<% local_assigns[:constants].each do |key, val| %>
				<%= f.text_field 'constants['+key.to_s+']', value: val, hidden: true %>
			<% end %>
		<% end %>

		<!-- Query vars -->
		<%= f.text_field :search_vars, value: search_vars.to_s, hidden: true %>

		<!-- Meta -->
		<%= f.text_field :table_container_id, value: table_container_id, hidden: true %>
		<%= f.text_field :table_partial, value: table_partial, hidden: true %>
		<%= f.text_field :query_name, value: query_name, hidden: true %>

		<!-- Search term -->
		<div class="input-group">

			<div class="input-group-btn">
				<%= f.submit 'Buscar', class: 'btn btn-primary h-100' %>
			</div>
			<%= f.text_field :search_term, class: 'form-control' %>
		</div>
	<% end %>
</div>


<!--
	<form>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Buscar <%= @role_name %>">
			<div class="input-group-btn">
				<button class="btn btn-primary"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</form>
-->
