<div class="main-sidebar">
<aside id="sidebar-wrapper">
  <div class="sidebar-brand">
    <%= image_tag 'logo.jpg', class: 'shadow-light', style: 'width: 50px' %>
    <%= link_to 'CIVITANIC', home_path %>
  </div>
  <div class="sidebar-brand sidebar-brand-sm">
    <a href="index.html">CV</a>
  </div>
  <ul class="sidebar-menu">

    <li class="menu-header mt-4">Menú</li>

    <li>
      <%= link_to root_path, class:['nav-link', current_class?(root_path)] do %>
        <i class="fas fa-fire"></i> <span>Indicadores</span>
      <% end %>
    </li>

    <li class="dropdown <%= current_class?('/users/proprietaries') %> <%= current_class?('/users/new/proprietary') %>">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-user"></i> <span>Propietario</span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Ver Propietario', '/users/proprietaries', class:['nav-link', current_class?('/users/proprietaries')] %></li>
        <li><%= link_to 'Crear Propietario', '/users/new/proprietary', class:['nav-link', current_class?('/users/new/proprietary')] %></li>
      </ul>
    </li>

    <li class="dropdown <%= current_class?(properties_path) %> <%= current_class?(new_property_path) %>">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-hotel"></i> <span>Propiedad</span></a>
      <ul class="dropdown-menu ">
        <li><%= link_to 'Ver Propiedad', properties_path, class:['nav-link', current_class?(properties_path)] %></li>
        <li><%= link_to 'Crear Propiedad', new_property_path, class:['nav-link', current_class?(new_property_path)] %></li>
      </ul>
    </li>

    <li class="dropdown  <%= current_class?(users_tenants_path) %> <%= current_class?(users_new_tenant_path) %>">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-user-tag"></i> <span>Arrendatario</span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Ver Arrendatario', users_tenants_path, class:['nav-link', current_class?(users_tenants_path)] %></a></li>
        <li><%= link_to 'Crear Arrendatario', users_new_tenant_path, class:['nav-link', current_class?(users_new_tenant_path)] %></a></li>
      </ul>
    </li>

    <li class="dropdown <%= current_class?(expenses_path) %> <%= current_class?(payments_path) %> <%= current_class?(settlements_path) %>">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-toolbox"></i> <span>Administración</span></a>
      <ul class="dropdown-menu">
	    <li><%= link_to 'Ingreso de Gastos', expenses_path, class: 'nav-link' %></li>
        <li><%= link_to 'Ingreso de Pagos', payments_path, class: 'nav-link' %></li>
        <li><%= link_to 'Liquidación Propietario', settlements_path, class: 'nav-link' %></li>
        <li><%= link_to 'Trabajos a Propiedad', property_works_path, class: 'nav-link' %></li>
        <li><%= link_to 'Listado de Administración', administration_numbers_path, class: 'nav-link' %></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-book"></i> <span>Reportes</span></a>
      <ul class="dropdown-menu">
		<li><%= link_to 'Pago Cobranza Arrendatario', reports_collection_path, class: 'nav-link' %></li>
		<li><%= link_to 'Pago a Propietarios', reports_settlements_path, class: 'nav-link' %></li>
		<li><%= link_to 'Trabajos en Propiedades', reports_property_works_path, class: 'nav-link' %></li>
        <li><%= link_to 'Arrendatarios Devuelven Propiedad', reports_property_return_path, class: 'nav-link' %></li>
        <li><%= link_to 'Propietarios en Admin. Vigente', reports_active_administrations_path, class: 'nav-link' %></li>
        <li><%= link_to 'Listados de Contribuciones', reports_contributions_path, class: 'nav-link' %></li>
        <li><%= link_to 'Informe de Gastos', reports_expenses_path, class: 'nav-link' %></li>
        <li><%= link_to 'Listado de Cobros', reports_administration_profit_path, class: 'nav-link' %></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-file-contract"></i> <span>Contrato</span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Ingresar Datos Contrato', new_contract_path, class: ['nav-link'] %></li>
        <li><%= link_to 'Ver Contratos - Inventarios', contracts_path, class: ['nav-link'] %></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Control Sistema</span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Datos de la Empresa', system_info_path, class: ['nav-link'] %></li>
        <li><%= link_to 'Usuarios y Perfiles', system_users_path, class: ['nav-link'] %></li>
        <li><%= link_to 'Ver Eventos del Sistema', system_logs_path, class: ['nav-link'] %></li>
      </ul>
    </li>

</aside>
</div>
