<div class="section-header container-fluid d-flex justify-content-between align-items-center">
    <h1><%= title %></h1>
    <div class="row w-40">
        <div class="col-5 text-center">
            <p class="m-0 font-weight-bold"> Fecha </p>
            <p class="m-0"> <%= I18n.l(DateTime.now, format: '%d/%m/%Y', locale: :'es')	 %> </p>
        </div>
        <div class="col-3 text-center">
            <p class="m-0 font-weight-bold"> Hora </p>
            <p class="m-0"> <%= I18n.l(DateTime.now, format: '%H:%M:%S', locale: :'es')	 %> </p>
        </div>
        <div class="col-4 text-center">
            <p class="m-0 font-weight-bold"> UF de Hoy </p>
            <p class="m-0"> <%= get_UF %> </p>
        </div>
    </div>
</div>
