<head>

	<style>
		.bordered {
			border-collapse: collapse;
			text-align: center;
		}

		.bordered, .bordered th, .bordered td {
			border-style: solid;
			border-width: 2px;
			border-color: black;
			padding: 3px;
		}

		.header {
			background-color: blue;
			color: white;
		}

		.float-right{
			float: right;
		}

		.float-left{
			float: left;
		}
	</style>
</head>

<p>Los siguientes contratos, tienen fecha de vencimiento.</p>

<table class="bordered">
	<thead class="header">
		<th>N° ADM</th>
		<th>Arrendatario</th>
		<th>Propietario</th>
		<th>Dirección</th>
		<th>Fecha Vencimiento Contrato</th>
	</thead>
	<tbody>
		<% @contracts.each do |contract| %>
			<tr>
				<td><%= contract.administration_number.id %></td>
				<td><%= contract.administration_number.tenant.name %></td>
				<td><%= contract.administration_number.proprietary.name %></td>
				<td><%= contract.administration_number.property.address %></td>
				<td><%= contract.expiration_date.strftime('%d/%m/%Y') %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>Saluda Atentamente a Ud.</p>
<p>Jefe Oficina</p>
<p>Propiedades Cvitanic Ltda.</p>
<p>Fono: (56-55) 2229600 / Celular: 56 9 56998284</p>



