<p>Estimado(a) <%= @tenant.name %></p>

<p>Buenos días, junto con saludarle, le informo que su arriendo vencióel día
<strong><%= @contract.start_date.day + @contract.days_for_penalty + 1 %></strong>
del presente mes, adjunto cuadro de multas.</p>

<p>Direccion: <%= @property.address %></p>
<p>Fecha de pago: del <%= @contract.start_date.day %> al <%= @contract.start_date.day + @contract.days_for_penalty %></p>

<table class="bordered">
	<thead class="header">
		<th>Valor Arriendo</th>
		<th>Fecha de Pago</th>
		<th>Multa (%)</th>
		<th>Días Atraso</th>
		<th>Multa ($)</th>
		<th>Total</th>
	</thead>
	<tbody>
		<% (0..7).each do |d| %>
			<tr>
				<td><%= fmt_number(@contract.rent) %></td>
				<td><%= @contract.start_date.day + @contract.days_for_penalty + d %></td>
				<td><%= fmt_number(@contract.daily_penalty_percentage) %>%</td>
				<td><%= d %></td>
				<td><%= fmt_number(d * @contract.daily_penalty_percentage/100 * @contract.rent) %></td>
				<td><%= fmt_number(@contract.rent + (d * @contract.daily_penalty_percentage/100 * @contract.rent)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>Debe enviar vía email a transferencias@cvitanic.cl aviso de transferencia o copia de comprobantede
depósito, indicando claramente en el asunto del mail, la dirección de la propiedad que está realizando
el pago o acercarse a nuestra oficina para cancelar el valor correspondiente.</p>



