<p><strong>Estimado(a) <%= @tenant.name %></strong></p>

<p>Junto con saludarle, le informo que su arriendo ha sido
   reajustado a partir del mes de Agosto 2019 le recordamos que
   el pago del arriendo tiene como fecha máxima el día <% (@contract.start_date + @contract.days_for_penalty.days).day %>
   de ese mes, para evitar el pago de multas:</p>

<% actual_year = Date.today.year
   actual_month = Date.today.month
   previous_month = (Date.today - 1.month).month %>
<p>Valor Arriendo:  $<%= fmt_number(@contract.previous_readjusted_rent(Date.today)) %></p>
<p>Reajuste IPC: $ <%= fmt_number(@readjustment.amount) %></p>
<p>Arriendo reajustado $<%= fmt_number(@contract.readjusted_rent_date(Date.today) %>.- por el periodo comprendido entre <%= @contract.readjustment_period(Date.today)) %></p>
<p>Dirección:  <%= fmt_number(@property.address) %></p>
<p>Fecha de Pago: del <%= @contract.start_date.day %> al <%= (@contract.start_date + @contract.days_for_penalty.days).day %></p>

<table class="bordered">
	<thead class="header">
		<th>Valor Arriendo</th>
		<th>Fecha de Pago</th>
		<th>Multa (%)</th>
		<th>Días Atraso</th>
		<th>Multa ($)</th>
		<th>Total</th>
	</thead>
	<tbody>
		<% (0..7).each do |d| %>
			<tr>
				<td><%= fmt_number(@contract.rent) %></td>
				<td><%= @contract.start_date.day + @contract.days_for_penalty + d %></td>
				<td><%= fmt_number(@contract.daily_penalty_percentage) %>%</td>
				<td><%= d %></td>
				<td><%= fmt_number(d * @contract.daily_penalty_percentage/100 * @contract.rent) %></td>
				<td><%= fmt_number(@contract.rent + (d * @contract.daily_penalty_percentage/100 * @contract.rent)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>Debe enviar vía email a transferencias@cvitanic.cl aviso de
   transferencia o copia de comprobantede depósito, indicando
   claramente en el asunto del mail, la dirección de la
   propiedad que está realizando el pago o acercarse a nuestra
   oficina para cancelar el valor correspondiente.</p>
