<style>
	.bordered {
		border-collapse: collapse;
		text-align: center;
	}

	.bordered, .bordered th, .bordered td {
		border-style: solid;
		border-width: 2px;
		border-color: black;
		padding: 3px;
	}

	.header {
		background-color: blue;
		color: white;
	}

	.float-right{
		float: right;
	}

	.float-left{
		float: left;
	}
</style>

<p>Estimado(a) <%= @tenant.name %></p>

<p>El pago de arrendamiento se debe hacer efectivo, como fecha máximo el
<%= @contract.start_date.day + @contract.days_for_penalty %> del mes correspondiente
para evitar el pago de multas, depositando el monto del mes en nuestra cta. cte N° 86785389 del banco
BCI a nombre de la inmobiliaria Cvitanic Limitada Rut: 76.172.777-k.</p>

<p>Direccion: <%= @property.address %></p>
<p>Multa: <%= @contract.daily_penalty_percentage %></p>
<p>Fecha de pago: del <%= @contract.start_date.day %> al <%= @contract.start_date.day + @contract.days_for_penalty %></p>

<table class="bordered">
	<thead class="header">
		<th>Valor Arriendo</th>
		<th>Fecha de Pago</th>
		<th>Multa (%)</th>
		<th>Días Atraso</th>
		<th>Multa ($)</th>
		<th>Total</th>
	</thead>
	<tbody>
		<% (0..7).each do |d| %>
			<tr>
				<td><%= fmt_number(@contract.rent) %></td>
				<td><%= @contract.start_date.day + @contract.days_for_penalty + d %></td>
				<td><%= fmt_number(@contract.daily_penalty_percentage) %>%</td>
				<td><%= d %></td>
				<td><%= fmt_number(d * @contract.daily_penalty_percentage/100 * @contract.rent) %></td>
				<td><%= fmt_number(@contract.rent + (d * @contract.daily_penalty_percentage/100 * @contract.rent)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>Debe enviar vía email a transferencias@cvitanic.cl aviso de transferencia o copia de comprobantede
depósito, indicando claramente en el asunto del mail, la dirección de la propiedad que está realizando
el pago o acercarse a nuestra oficina para cancelar el valor correspondiente.

Si su deuda es en UF le recordamos realizar el pago con el valor UF al día.
Si ud. ha documentado sus arriendos, los cheques serán depositadosen la fecha indicada.
Si al momento de recibir  esta carta, ud. ya ha pagado su arriendo,
queda sin efecto lo contenidoen en la presente.</p>



