
<% if render == 'body' %>
	<p>
		¿Está seguro que quiere <strong>Eliminar</strong> el <%= @user.role_string.downcase %>
		<strong> <%= @user.name %> </strong>?
	</p>

	<% if @user.proprietary? %>
		<p class="mt-2 text-danger">
			<strong>Aviso:</strong> Solo podrá removerse si todas sus propiedades
			están eliminadas del sistema previamente.
		</p>
	<% elsif @user.tenant? %>
		<p class="mt-2 text-danger">
			<strong>Aviso:</strong> Solo podrá removerse si el arrendatario no tiene contrato asociado.
		</p>
	<% end %>
<% elsif render == 'footer' %>
	<div class="modal-footer bg-whitesmoke br">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		<% if @user.can_be_deleted? %>
			<%= link_to "Confirmar", @user, method: :delete, class: "btn btn-info submit", remote: true, onclick: "modal.hide();" %>
		<% else %>
			<button type="button" class="btn btn-primary" data-dismiss="modal" disabled="true">Confirmar</button>
		<% end %>
	</div>
<% end %>
