<div class="form-row">
	<%= f.input :name, label: 'Nombre Encargado', wrapper_class: 'col-md-4 mt-5' %>
	<%= f.input :rut, label: 'Rut Encargado', wrapper_class: 'col-md-2 mt-5', input_html: {id: 'representative-rut-field'} %>
	<%= f.input :telephone, label: 'Teléfono Encargado', wrapper_class: 'col-md-3 mt-5' %>
	<%= f.input :email, label: 'Email Encargado', wrapper_class: 'col-md-3 mt-5' %>
</div>

<% content_for :extra_js do %>
	helpers.setRutFieldListener('representative-rut-field');
<% end %>
