<div class="form-row mx-2">
	<%= f.input :name, label: 'Nombre o Razón Social', wrapper_class: 'col-md-4 mt-3' %>
	<%= f.input :rut, label: 'Rut', wrapper_class: 'col-md-2 mt-3', input_html: {id: rut_field_id} %>
	<%= f.input :email, label: 'Email 1', wrapper_class: 'col-md-3 mt-3' %>
	<%= f.input :email2, label: 'Email 2', wrapper_class: 'col-md-3 mt-3' %>
</div>

<div class="row mx-2">
	<%= f.input :telephone, label: 'Teléfono 1', wrapper_class: 'col-md-3 mt-4' %>
	<%= f.input :telephone2, label: 'Teléfono 2', wrapper_class: 'col-md-3 mt-4' %>
	<%= f.input :address, label: 'Dirección', wrapper_class: 'col-md-6 mt-4' %>
</div>

<div class="row mx-2">
	<%= f.input :region, collection: User.region_collection, include_blank: false, label: 'Region', wrapper_class: 'col-md-6 mt-4', input_html: {onchange: 'helpers.updateCommuneByRegion(event.target.value, "'+commune_select_id+'");', id: region_select_id} %>
	<%= f.input :commune, collection: User.commune_collection, include_blank: false, label: 'Comuna', wrapper_class: 'col-md-6 mt-4', input_html: {id: commune_select_id} %>
</div>

<% content_for :extra_js do %>
	helpers.setRutFieldListener('<%= rut_field_id %>');
	var currentRegion = document.getElementById('<%= region_select_id %>').value;
	helpers.updateCommuneByRegion(currentRegion, '<%= commune_select_id %>')
<% end %>

<script>
	if (typeof helpers != 'undefined') {
		helpers.setRutFieldListener('<%= rut_field_id %>');
		var currentRegion = document.getElementById('<%= region_select_id %>').value;
		helpers.updateCommuneByRegion(currentRegion, '<%= commune_select_id %>')
	}
</script>
