<div class="px-4 mt-2">

	<!-- Progress -->
	<div class="row justify-content-center pt-4">
		<div class="col-12">
			<div class="progress mb-3">
				<div class="progress-bar-striped bg-info" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			</div>
		</div>
      	<div class="row justify-content-center">
			<div class="col-12">
			<div class="row justify-content-between">
				<div class="col-3">
					<p class="font-weight-bold">Información básica.</p>
				</div>
				<div class="col-3">
					<p class="font-weight-bold">Información de Codeudor</p>
				</div>
				<div class="col-3 text-center">
					<p class="font-weight-bold">Asignar Propiedad</p>
				</div>
				<div class="col-3 text-right">
					<p class="font-weight-bold">Guardar Información</p>
				</div>
			</div>
        </div>
	</div>

	<div class="row justify-content-center mt-4">
        <div class="col-12">
			<div class="card">

				<%= render 'partials/flash_alerts' %>

				<%= simple_form_for @user, url: create_tenant_path do |f| %>
					<!-- Tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="tenant-tab1" data-toggle="tab" href="#info_basic" role="tab" aria-controls="home" aria-selected="true">Información Básica</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" id="tenant-tab2" data-toggle="tab" href="#cosigner" role="tab" aria-controls="admin" aria-selected="false">Información de Codeudor</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" id="tenant-tab3" data-toggle="tab" href="#property" role="tab" aria-controls="contact" aria-selected="false">Asignar Propiedad</a>
						</li>
					</ul>

					<div class="tab-content tab-bordered">

						<!-- Basic information tab -->
						<div class="tab-pane fade show active " id="info_basic" role="tabpanel" aria-labelledby="tenant-tab1">

							<%= render 'users/fields_user', f: f, rut_field_id: 'user-rut-field', commune_select_id: 'commune-select', region_select_id: 'region-select' %>

							<div class="mx-2 mt-2">
								<%= f.simple_fields_for :representative do |rf| %>
									<%= render 'users/fields_representative', f: rf %>
								<% end %>
							</div>
						</div>

						<!-- Cosigner tab -->
						<div class="tab-pane fade" id="cosigner" role="tabpanel" aria-labelledby="tenant-tab2">
							<%= f.simple_fields_for :cosigner do |cf| %>
								<%= render 'users/fields_cosigner', f: cf, rut_field_id: 'cosigner-rut-field', commune_select_id: 'cosigner-commune-select', region_select_id: 'cosigner-region-select' %>
							<% end %>
						</div>

						<!-- Property tab -->
						<div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="tenant-tab3">
							<p class="h4 text-info">Propiedades Disponibles</p>
							<% if not @user.errors[:administration_number].empty? %>
								<span style="color: red;">Debe seleccionar una propiedad</span>
							<% end %>
							<table class="table table-bordered">
								<thead class="thead-dark">
									<tr class="text-center">
										<th>Nº ADM</th>
										<th>Dirección</th>
										<th>Propietario</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<% @administration_numbers.each do |admin_n| %>
										<tr class="text-center">
											<td><%= admin_n.id %></td>
											<td><%= admin_n.property.address %></td>
											<td><%= admin_n.proprietary.name %></td>
											<td><%= radio_button_tag :administration_number, admin_n.id, @administration_number == admin_n.id %></td>
										</tr>
									<% end %>
									<br/>
								</tbody>
							</table>
							<div class="d-flex justify-content-end w-100 mt-4">
								<button class="btn btn-danger mr-2" data-dismiss="modal">Cancelar</button>
								<% if can? :manage, @user %><%= f.submit 'Guardar', class: "btn btn-info" %><% end %>
							</div>
						</div>

					</div>
    			<% end %>
			</div>

        </div>
	</div>
</div>
