<% url =  controller_name == 'system_controls' ? system_update_user_path(@user) : user_path(@user) %>

<div class="card-body p-0">
	<%= simple_form_for @user, url: url, remote: true do |f| %>

		<!-- Basic information -->
		<p class="text-info mb-1">Información del Arrendatario</p>
		<div class="border px-3 pt-1 pb-4 mt-1">
			<%= render 'users/fields_user', f: f, rut_field_id: 'user-rut-field', commune_select_id: 'commune-select', region_select_id: 'region-select' %>
			<%= f.simple_fields_for :representative do |rf| %>
				<%= render 'users/fields_representative', f: rf %>
			<% end %>
		</div>


		<!-- Cosigner -->
		<p class="text-info mb-1 mt-3">Información del Codeudor</p>
		<div class="border px-3 pt-1 pb-4 mt-1">
			<%= f.simple_fields_for :cosigner do |cf| %>
				<%= render 'users/fields_cosigner', f: cf, rut_field_id: 'cosigner-rut-field', commune_select_id: 'cosigner-commune-select', region_select_id: 'cosigner-region-select' %>
			<% end %>
		</div>
		<div class="w-100 d-flex mt-4 justify-content-end">
			<button class="btn btn-danger mr-2" data-dismiss="modal">Cancelar</button>
			<% if can? :manage, @user %><%= f.submit 'Modificar', class: "btn btn-info", onclick: "modal.hide();" %><% end %>
		</div>
    <% end %>
</div>
