<div class="card-body p-0">
	<%= simple_form_for @user, url: create_proprietary_path do |f| %>

		<!-- Basic information -->
		<%= render 'users/fields_user', f: f, rut_field_id: 'user-rut-field', commune_select_id: 'commune-select', region_select_id: 'region-select' %>

		<div class="form-row mx-3 mt-2">
			<%= f.simple_fields_for :representative do |rf| %>
				<%= render 'users/fields_representative', f: rf %>
			<% end %>
		</div>

		<%= f.input :observation, label: 'Observación', wrapper_class: 'col-md-12 mt-4' %>
		<div class="w-100 d-flex my-4 justify-content-end">
			<button class="btn btn-danger mr-2" data-dismiss="modal">Cancelar</button>
			<% if can? :manage, @user %><%= f.submit 'Guardar', class: "btn btn-info" %><% end %>
		</div>
    <% end %>
</div>
