<!--<div class="modal-header d-block text-center bg-light p-3">
	<h4 class="modal-title d-inline text-uppercase">Listado de Propiedades</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>-->
<div class="modal-body">
	<div class="d-flex justify-content-end">
		<%= render(
				'partials/search_form',
				model: 'administration_number',
				constants: {proprietary_id: @user.id},
				search_vars: [
					'id',
					'property.address',
					'contract.rent',
					'property.state',
				],
				table_container_id: 'admin-n-table-container',
				table_partial: 'users/table_fetch_properties',
				query_name: 'admin_numbers') %>
	</div>
	<div class="card-body p-0">
		<div class="my-4" id="admin-n-table-container">
			<%= render 'table_fetch_properties', admin_numbers: @admin_numbers %>
		</div>
		<div class="d-flex justify-content-start w-100">
			<button class="btn btn-info btn-lg mr-4", data-dismiss="modal" >Cerrar</button>
		</div>
	</div>
</div>
