<% @admin_numbers.each do |n| %>
	<div class="card">
		<div class="card-body p-0">

			<div class="d-flex justify-content-center">
				<span> N° Administración: <%= n.id %></span>
			</div>

			<%= render(
				'partials/search_form',
				model: 'settlement',
				constants: {contract_id: n.contract.id},
				search_vars: [
					'id',
					'created_at',
				],
				table_container_id: "settlements-table-container-#{n.id}",
				table_partial: 'users/table_fetch_settlements',
				query_name: 'settlements') %>

			<div id="settlements-table-container-<%= n.id %>">
				<%= render 'table_fetch_settlements', settlements: n.contract.settlements %>
			</div>
		</div>
	</div>
	<br/>
<% end %>

<div class="d-flex justify-content-end w-100">
	<button class="btn btn-info btn-lg mr-4", data-dismiss="modal" >Cerrar</button>
</div>
