<%= simple_form_for contract do |f| %>
	<%= f.input :active, collection: [['Activo', true], ['Terminado', false]], label: 'Tipo Contrato', class: 'form-control', input_html: {disabled: true} %>
	<%= f.input :start_date, label: 'Fecha de Inicio', as: :string, class: 'form-control', input_html: {disabled: true} %>
	<%= f.input :expiration_date, label: 'Fecha de Termino', as: :string, class: 'form-control', input_html: {disabled: true} %>
	<%= label_tag	   :payment_day,'Fecha de Pago del Arriendo', class: 'control-label' %>
	<%= text_field_tag :payment_day, contract.payment_day, class: 'form-control', disabled: true %>
	<%= f.input :rent, label: 'Valor del Arriendo', class: 'form-control', input_html: {disabled: true} %>
	<%= f.input :readjustment_term, label: 'Plazo de Reajustabilidad', as: :string, class: 'form-control', input_html: {disabled: true, value: contract.readjustment_term_string} %>
	<%= f.input :readjustment_type, label: 'Tipo de Reajustabilidad', as: :string, class: 'form-control', input_html: {disabled: true, value: contract.readjustment_type_string} %>
	<%= f.input :daily_penalty_percentage, label: '% de Multa', class: 'form-control', input_html: {disabled: true} %>
	<%= f.input :expiration_date, as: :date_picker, label: 'Fecha de Renovación Contrato', class: 'form-control', input_html: {disabled: true} %>
	<%= link_to 'Ver Contrato Digital', show_contract_path(contract.id), remote: true %>
<% end %>
