<table class="table table-bordered">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° Administración </th>
			<th> N° Recibo Arriendo </th>
			<th> Fecha de Pago </th>
			<th> Valor Total Pagado </th>
			<th> Forma de Pago </th>
			<th> Acción </th>
		</tr>
	</thead>

	<tbody>
		<% payments.each do |payment| %>
			<tr class="text-center">
				<td><%= payment.contract.administration_number ? payment.contract.administration_number.id : '-' %></td>
				<td><%= payment.id %></td>
				<td><%= payment.date.strftime('%d-%m-%Y') %></td>
				<td><%= fmt_number payment.amount %></td>
				<td><%= payment.payment_method_string %></td>
				<td><%= link_to 'Generar Recibo', generate_payment_receipt_path(payment.id), class: 'btn btn-info mt-1	', remote: true %></td>
			</tbody>
		<% end %>
	</tbody>
</table>
