<div class="card-body p-0">
	<div class="table-responsive-sm">
		<table class="table table-bordered" id="users-actual-table">
			<thead class="thead-dark">
				<tr class="text-center">
					<th> N° ADM </th>
					<th> Nombre <%= @role_name %> </th>
					<th> Dirección </th>
					<th> Telefono </th>
					<th> Email </th>
					<th> Acciones </th>
				</tr>
			</thead>

			<% users.each do |user| %>
				<% if can? :read, user %>
					<%
					if user.tenant?
						admin_numbers = AdministrationNumber.where(tenant: user)
					elsif user.proprietary?
						admin_numbers = AdministrationNumber.where(proprietary: user)
					end
					addresses = admin_numbers.select{|n| n.property != nil }.map {|n| n.property.address }
					%>
					<tr class="text-center">
						<td><%= admin_numbers.reduce(''){|str, n| str + n.id.to_s + ', '}.chomp(', ') %></td>
						<td><%= user.name %></td>
						<%#= addresses.reduce(''){|str, address| str + address + ', ' if address}.chomp(', ') %>
						<td><%= user.tenant? ? user.administration_numbers.reduce(''){|str, n| str + n.property.address + ', '}.chomp(', ') : user.address %></td>
						<td><%= user.telephone %></td>
						<td><%= user.email %></td>
						<td>
							<div class="dropdown d-inline">
								<button class="btn btn-whitesmoke dropdown-toggle text-danger" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Acciones
								</button>
								<div class="dropdown-menu">
									<%= link_to 'Ver Ficha', edit_user_path(user), class: 'dropdown-item', remote: true %>
									<% if can? :destroy, user %><%= link_to 'Eliminar '+user.role_string, delete_user_path(user), class: 'dropdown-item', remote: true %><% end %>
									<% if user.proprietary? %>
										<% if can? :create, Property %><%= link_to 'Crear Propiedad', "/properties/new/#{user.id}", class: 'dropdown-item' %><% end %>
										<%= link_to 'Ver Propiedades', "/users/fetch_properties/#{user.id}", class: 'dropdown-item', remote: true %>
										<%= link_to 'Resumen Liquidaciones', "/users/fetch_settlements/#{user.id}", class: 'dropdown-item', remote: true %>
									<% elsif user.tenant? %>
										<%= link_to 'Ver Pagos Arrendamiento', fetch_tenant_payments_path(user.id), class: 'dropdown-item', remote: true %>
										<% contract = user.get_contract %>
										<% if contract != nil and can? :manage, contract %>
											<%= link_to 'Terminar Contrato', show_tenant_terminate_contract_form_path(contract.id), class: 'dropdown-item', remote: true %>
										<% end %>
									<% end %>

								</div>
							</div>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
