<table class="table table-bordered table-responsive-sm">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Nº Liquidacion</th>
			<th>Fecha</th>
			<th>Monto Transferencia</th>
			<th>Accion</th>
		</tr>
	</thead>

	<% settlements.each do |settlement| %>
		<tr class="text-center">
			<td><%= settlement.id %></td>
			<td><%= settlement.created_at.strftime("%d-%m-%Y") %></td>
			<td><%= fmt_number settlement.amount_to_transfer %></td>
			<td><%= link_to 'Ver Liquidacion', settlement_pdf_path(settlement.id), remote: true %></td>
		</tr>
	<% end %>
</table>
