<table class="table table-bordered table-responsive-sm">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Nº ADM</th>
			<th>Direccion</th>
			<th>Valor Arriendo</th>
			<th>Estado Propiedad</th>
		</tr>
	</thead>

	<% admin_numbers.each do |n| %>
		<tr class="text-center">
			<td><%= n.id %></td>
			<td><%= n.property.address %></td>
			<td><%= n.contract ? fmt_number(n.contract.rent) : '-' %></td>
			<td><%= n.property.state_string %></td>
		</tr>
	<% end %>
</table>
