<div class="card-header-form">
	<%= render(
			'partials/search_form',
			model: 'payment',
			constants: {user_id: @user_id},
			search_vars: [
				'contract.administration_number.id',
				'id',
				'date',
				'amount',
				'payment_method',
			],
			table_container_id: 'payments-table-container',
			table_partial: 'users/table_fetch_tenant_payments',
			query_name: 'payments') %>
</div>

<div class="table-responsive-sm" id="payments-table-container">
	<%= render 'table_fetch_tenant_payments', payments: payments %>
</div>
