modal.reset();
modal.configDelete();
modal.setHeader('Eliminar <%= @user.role_string %>');
modal.setBody('<%= j render "delete_user", render: "body" %>');
modal.setFooter('<%= j render "delete_user", render: "footer" %>');
modal.show();
