modal.reset();
modal.configXl();
modal.setHeader('Ver Pagos del Arrendatario');
modal.setBody('<%= j render "tenant_payments_table", payments: @payments %>');
modal.setFooter(modal.closeButton());
modal.show();

