<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: @role_name %>
		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<h4>Ver <%= @role_name %></h4>
								<%= render 'partials/excel_button', table_id: 'users-actual-table', file_name: @role_name.downcase %>
							</div>

							<div class="card-header-form">
								<%= render(
									'partials/search_form',
									model: 'user',
									constants: {role: @role},
									search_vars: [
										'name',
										'address',
										'rut',
										'email',
									],
									table_container_id: 'users-table',
									table_partial: 'users/table',
									query_name: 'users') %>
							</div>
						</div>
						<div id="users-table" class="card-body p-0">
							<%= render 'table', users: @users %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
