<%= render 'partials/messages' %>

<% if can? :create, @user %>
	<div class="main-content">
		<section class="section">
			<%= render 'partials/title', title: @role_name %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Crear <%= @user.role_string %></h4>
								</div>
							</div>

							<div class="card-body p-0">
								<%= render "form_#{@user.role}", user: @user, save: @save = 'Guardar' %>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>


<% else %>
	<h1> No tienes permitido crear <%= @role_name %></h1>
<% end %>
