<div class="col-11">
	<div class="row">
		<div class="form-group col-md-4 justify-content-center">
			<div class="w-75">
				<%= label_tag  :administration_number_select, 'Nº de Administración  Disponibles', class: 'control-label' %>
				<%= select_tag :administration_number_select, options_for_select(AdministrationNumber.without_proprietary_collection), class: 'form-control', id: 'administration-number-select', onchange: 'completeUrl();' %>
				<div class='error'><%= show_errors(@property, :administration_number_select) %></div>
				<%= number_field_tag :administration_number, @admin_n ? @admin_n.id : nil, id: 'admin-n-field', hidden: true %>
				<%= text_field_tag :proprietary_name, @user.name, hidden: true %>

			</div>
		</div>

		<div class="col-3 pl-5">
			<%= link_to 'Asignar Nº ADM', assign_administration_number_path(-1), class: 'btn btn-info w-100 mb-3', id: 'assign-administration-number', remote: true %>
			<%= link_to 'Crear Nº ADM', create_administration_number_path, class: 'btn btn-primary w-100', remote: true %>
		</div>

		<div class="col-5">
			<div class="d-flex flex-column align-items-center">
				<div>
					<p class="lead font-weight-bold mb-4">Nº de Administración: <span id="admin-n" class="h2"><%= @admin_n ? @admin_n.id : '' %></span> </p>
					<p class="font-weight-bold mb-4">Dirección: <span id="address" class="font-weight-normal"><%= f.object.address %></span> </p>
					<p class="font-weight-bold mb-4">Propietario: <span id="proprietary" class="font-weight-normal"><%= @user.name %></span> </p>
					<p class="font-weight-bold mb-4">Nº de Arrendatario: <span id="tenant-n" class="font-weight-normal"><%= @admin_n ? '-' : '' %></span> </p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function completeUrl(){
		var assignLink = document.getElementById('assign-administration-number');
		var administrationNumberSelect = document.getElementById('administration-number-select');
		href = assignLink.href.split('/');
		href[href.length -1] = administrationNumberSelect.value;
		href = href.join('/');
		assignLink.href = href;
	}

	completeUrl();
</script>
