<div class="form-group col-md-4">
	<%= f.input :adm_percentage, label: '% de Administración', input_html: {type: 'text', class: 'currency-field'} %>
</div>

<div class="form-group col-md-8">
	<%= label_tag :admin_tasks,'Tareas de la Administración', class: 'control-label' %>
	<div class="d-flex align-items-center">
		<div class="form-check">
			<%= f.input_field :adm_rent, as: :boolean, value: '1', class: 'form-check-input' %>
			<%= f.label		  :adm_rent, 'Arriendo', class: 'form-check-label' %>
		</div>

		<div class="form-check">
			<%= f.input_field :adm_common_expenses, as: :boolean, value: '3', class: 'form-check-input' %>
			<%= f.label       :adm_common_expenses, 'Gastos Comunes', class: 'form-check-label' %>
		</div>

		<div class="form-check">
			<%= f.input_field :adm_contributions, as: :boolean, value: '2', class: 'form-check-input' %>
			<%= f.label		  :adm_contributions, 'Contribuciones', class: 'form-check-label' %>
		</div>

		<div class="form-inline ml-2">
			<div class="form-group">
				<%= f.input :adm_other, label: 'Otros' %>
			</div>
		</div>
	</div>
</div>
