<div class="form-group col-md-4">
	<%= f.input :name, label: 'Nombre o Razón Social Administrador', placeholder: 'Nombre o Razón Social Administrador' %>
</div>

<div class="form-group col-md-4">
	<%= f.input :rut, label: 'Rut', placeholder: 'x.xxx.xxx-x', input_html: {id: 'rut-field'} %>
</div>

<div class="form-group col-md-4">
	<%= f.input :address, label: 'Dirección', placeholder: 'Dirección' %>
</div>

<div class="form-group col-md-3">
	<%= f.input :region, collection: CommonExpensesAdministrator.region_collection, label: 'Región', include_blank: false, input_html: {onchange: 'helpers.updateCommuneByRegion(event.target.value, "ce-commune-select");', id: 'ce-region-select'} %>
</div>

<div class="form-group col-md-3">
	<%= f.input :commune, collection: CommonExpensesAdministrator.commune_collection, label: 'Comuna', include_blank: false, input_html: {id: 'ce-commune-select'} %>
</div>

<div class="form-group col-md-3">
	<%= f.input :telephone, label: 'Teléfono 1' %>
</div>

<div class="form-group col-md-3">
	<%= f.input :email, label: 'Email 1' %>
</div>

<div class="form-group col-md-3">
	<%= f.input :bank, collection: CommonExpensesAdministrator.bank_collection, label: 'Nombre del Banco', include_blank: false %>
</div>

<div class="form-group col-md-3">
	<%= f.input :account_type, collection: CommonExpensesAdministrator.account_type_collection, label: 'Tipo de Cuenta', include_blank: false %>
</div>

<div class="form-group col-md-3">
	<%= f.input :telephone2, label: 'Teléfono 2' %>
</div>

<div class="form-group col-md-3">
	<%= f.input :email2, label: 'Email 2' %>
</div>

<div class="form-group col-md-4">
	<%= f.input :account_number, label: 'Cuenta de Transferencia' %>
</div>

<div class="form-group col-md-4">
	<%= f.input :titular, label: 'Nombre del Titular' %>
</div>


<% content_for :extra_js do %>
	helpers.setRutFieldListener('rut-field');
	var currentRegion = document.getElementById('ce-region-select').value;
	helpers.updateCommuneByRegion(currentRegion, 'ce-commune-select')
<% end %>

<script>
	if (typeof helpers != 'undefined') {
		helpers.setRutFieldListener('rut-field');
		var currentRegion = document.getElementById('ce-region-select').value;
		helpers.updateCommuneByRegion(currentRegion, 'ce-commune-select')
	}
</script>
