<div class="form-group col-md-12">
	<%= f.input :water_ias, label: 'NIC Aguas', placeholder: 'NIC Aguas', input_html: {min: 0} %>
</div>

<div class="form-group col-md-12">
	<%= f.input :electricity_ias, label: 'NIC Electricidad', placeholder: 'NIC Electricidad', input_html: {min: 0} %>
</div>

<div class="form-group col-md-12">
	<%= f.input :gas_ias, label: 'NIC Gas', placeholder: 'NIC Gas', input_html: {min: 0} %>
</div>
