<div class="row" id="administration-beneficiaries-wrapper">

	<div class="col-sm-2">
		<%= link_to add_administration_beneficiary_path(@user, f.object.administration_beneficiaries.length + 1), class: 'd-flex justify-content-end', id: 'add-new-link', remote: true do %>
			<i class="fa fa-plus-circle text-success h3"></i> <span>Agregar Cuenta</span>
		<% end %>
	</div>

	<div id="administration-beneficiaries" class="col-sm-10">
		<% count = 0 %>
		<%= f.fields_for :administration_beneficiaries do |abf| %>
			<div class="administration-beneficiary border" id="administration-beneficiary-<%= count %>">
				<div class="form-row">
					<div class="form-group col-md-4">
						<%= abf.input :bank, collection: AdministrationBeneficiary.bank_collection, label: 'Nombre del Banco', include_blank: false %>
					</div>

					<div class="form-group col-md-2">
						<%= abf.input :account_type, collection: AdministrationBeneficiary.account_type_collection, label: 'Tipo de Cuenta', include_blank: false %>
					</div>

					<div class="form-group col-md-4">
						<%= abf.input :account_number, label: 'Cuenta de Transferencia' %>
					</div>

					<div class="form-group col-md-2">
						<%= abf.input :percentage, label: 'Porcentaje', input_html: {type: 'text', class: 'currency-field'} %>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<%= abf.input :titular, label: 'Nombre del Titular' %>
					</div>

					<div class="form-group col-md-3">
						<%= abf.input :rut, label: 'Rut', input_html: {class: 'rut-field'} %>
					</div>

					<div class="form-group col-md-4">
						<%= abf.input :email, label: 'Email' %>
					</div>

					<div class="form-group col-md-1" style="display:flex;justify-content:center;align-items:center;">
						<% if count > 0 %>
							<i class="fa fa-minus-circle text-danger h3" style="cursor: pointer;" onclick="removeAdministrationBeneficiary('administration-beneficiary-<%=count%>');"></i>
							<%= abf.input_field :_destroy, as: :hidden, id: 'destroy-administration-beneficiary-'+count.to_s %>
						<% end %>
					</div>

				</div>
			</div>
			<% count += 1 %>
		<% end %>
	</div>
</div>

<style>
	.administration-beneficiary{
		padding: 10px;
		margin-bottom: 10px;
	}

	.administration-beneficiary > div > div {
		margin: 0 !important;
	}
</style>

<% content_for :extra_js do %>
	helpers.setRutFieldListenerByClass('rut-field');
<% end %>

<script>
	function removeAdministrationBeneficiary(id){
		elem = document.getElementById(id);
		elem.hidden = true;
		destroy_field = document.getElementById('destroy-'+id);
		destroy_field.value = true;
	}

	if (typeof helpers != 'undefined') {
		helpers.setRutFieldListenerByClass('rut-field');
	}
</script>
