<div class="form-group col-md-4">
	<%= f.input :property_type, collection: Property.type_collection, label: 'Tipo Propiedad', include_blank: false %>
</div>

<div class="form-group col-md-8">
	<%= f.input :address, label: 'Dirección', placeholder: 'Dirección', input_html: {id: 'address-field'} %>
</div>

<div class="form-group col-md-4">
	<%= f.input :region, collection: Property.region_collection, label: 'Región', include_blank: false, input_html: {onchange: 'helpers.updateCommuneByRegion(event.target.value, "commune-select");', id: 'region-select'} %>
</div>

<div class="form-group col-md-4">
	<%= f.input :commune, collection: Property.commune_collection, label: 'Comuna', include_blank: false, input_html: {id: 'commune-select'} %>
</div>

<div class="form-group col-md-4">
	<%= f.input :common_expenses, collection: Property.common_expenses_collection, label: 'Gastos Comunes', include_blank: false, input_html: {id: 'common-expenses'} %>
</div>

<div class="form-group col-md-4">
	<%= f.input :property_role_contribution, label: 'Contribución Propiedad', placeholder: 'Contribución Propiedad' %>
</div>

<div class="form-group col-md-4">
	<%= f.input :parking_role_contribution, label: 'Contribución Estacionamiento', placeholder: 'Contribución Estacionamiento' %>
</div>

<div class="form-group col-md-4">
	<%= f.input :cellar_role_contribution, label: 'Contribución Bodega', placeholder: 'Contribución Bodega' %>
</div>

<%= number_field_tag :user_id, @user.id, hidden: true, id: 'user-id' %>

<% content_for :extra_js do %>
	var currentRegion = document.getElementById('region-select').value;
	helpers.updateCommuneByRegion(currentRegion, 'commune-select')
<% end %>

<script>
	if (typeof helpers != 'undefined') {
		var currentRegion = document.getElementById('region-select').value;
		helpers.updateCommuneByRegion(currentRegion, 'commune-select')
	}
</script>
