<%= simple_form_for @property, remote: true do |f| %>
	<div class="card p-4 border m-2 " id="info_basic">
		<div class="row">
			<div class="col-12 col-md-9">
				<p class="text-info mb-1">Información Propiedad</p>
				<div class="form-row bordered">
					<%= render 'fields_property', f: f %>
				</div>
			</div>

			<div class="col-12 col-md-3">
				<p class="text-info mb-1">Información Servicios</p>
				<div class="form-row border p-2">
					<%= render 'fields_services', f: f %>
				</div>
			</div>
		</div>

		<!-- Información Gastos Comunes -->
		<p class="text-info mb-1">Información Gastos Comunes</p>
		<div id="common-expenses-container" class="form-row border p-2 mt-3">
			<%= f.fields_for :common_expenses_administrator do |ceaf| %>
				<%= render 'fields_common_expenses', f: ceaf %>
			<% end %>
		</div>

		<!-- Mandato Administracion -->
		<p class="text-info mt-4 mb-1">Información Mandato</p>
		<div class="form-row border p-2 mt-3">
			<%= render 'fields_mandate', f: f %>
			<%= render 'fields_mandate_observations', f: f %>
			<%= render 'fields_mandate_beneficiaries', f: f %>
			<%= render 'partials/file_button', f: f, file_field: :mandate, label: 'Subir Mandato', previous: true %>
		</div>
		<div class="d-flex w-100 justify-content-end mt-5 mb-3">
			<button class="btn btn-danger mr-2" data-dismiss="modal">Cancelar</button>
			<% if can? :manage, @property %>
				<% if @save != "Guardar" %>
					<%= f.submit "Modificar",  class: "btn btn-info submit", onclick: "modal.hide();" %>
				<% else%>
					<%= f.submit @save, class: "btn btn-info" %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<%= content_for :extra_js do %>
	//setCommonExpensesDisable();
	helpers.setFloatFieldListenerByClass('currency-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('currency-field');
	}
</script>

