<div class="card">
	<%= render 'partials/flash_alerts' %>

	<%= simple_form_for @property do |f| %>

		<!-- Tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="property-tab1" data-toggle="tab" href="#info_basic" role="tab" aria-controls="home" aria-selected="true">Información Básica</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="admin-tab2" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Mandato Administración</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" id="create-admin-tab2" data-toggle="tab" href="#create_admin" role="tab" aria-controls="contact" aria-selected="false">Crear Administración</a>
			</li>
		</ul>

		<div class="tab-content tab-bordered">

			<!-- Basic information tab -->
			<div class="tab-pane fade show active min-height-500px " id="info_basic" role="tabpanel" aria-labelledby="property-tab1">

				<div class="row">
					<!-- Property fields -->
					<div class="col-12 col-md-9">
						<div class="form-row bordered">
							<%= render 'fields_property', f: f %>
						</div>
					</div>

					<!-- Services fields -->
					<div class="col-12 col-md-3">
						<div class="form-row border p-2">
							<%= render 'fields_services', f: f %>
						</div>
					</div>
				</div>

				<!-- Common expenses fields -->
				<div id="common-expenses-container" class="form-row border p-2 mt-3">
					<%= f.fields_for :common_expenses_administrator do |ceaf| %>
						<%= render 'fields_common_expenses', f: ceaf %>
					<% end %>
				</div>

			</div>

			<!-- Mandate tab -->
			<div class="tab-pane fade min-height-500px" id="admin" role="tabpanel" aria-labelledby="admin-tab2">

				<div class="row justify-content-center">
					<div class="col-11">
						<div class="form-row">
							<%= render 'fields_mandate', f: f %>
						</div>
					</div>

					<div class="col-11">
						<%= render 'fields_mandate_observations', f: f %>
					</div>
				</div>

				<%= render 'fields_mandate_beneficiaries', f: f %>


				<%#= f.input :mandate, label: 'Subir Mandato', input_html: {class: 'd-none', accept: 'image/png,image/jpeg,application/pdf'}, label_html: {class: 'btn btn-info', style: 'color: white;'}%>

				<%= render 'partials/file_button', f: f, file_field: :mandate, label: 'Subir Mandato', previous: true %>
			</div>

			<!-- Create administration tab -->
			<div class="tab-pane fade min-height-500px" id="create_admin" role="tabpanel" aria-labelledby="create-admin-tab2">
				<div class="min-height-500px row align-items-center justify-content-center p-4">

					<div id="create-administration-wrapper">
						<%= render 'fields_create_administration', f: f %>
					</div>

					<div class="col-12 align-self-end">
						<div class="d-flex justify-content-end">
							<%= link_to 'Cancelar', properties_path, class: 'btn btn-danger btn-lg mr-4' %>
							<% if can? :manage, @property %><%= f.submit 'Guardar', class: "btn btn-success btn-lg", onclick: 'modal.showProcessing();' %><% end %>
						</div>
					</div>

				</div>
			</div>

		</div>
	<% end %>
</div>

<%= content_for :extra_js do %>
	setCommonExpensesDisable();
	helpers.setFloatFieldListenerByClass('currency-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('currency-field');
	}
</script>
