<div class="row">
	<iframe id="pdf-frame" title="<%= property.mandate.filename %>" width="100%" height="600" src="<%= url_for(property.mandate) %>"></iframe>
</div>

<div class="row">
	<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
	<button class="btn btn-danger btn-lg mr-4", data-dismiss="modal">Cancelar</button>
</div>

