<table class="table table-bordered table-responsive-sm" id="properties-actual-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Nº ADM</th>
			<th>Nombre Propietario</th>
			<th>Dirección Propiedad</th>
			<th>Nombre Arrendatario</th>
			<th>Estado Propiedad</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>

		<% properties.each do |property| %>
			<% if can? :read, property %>
				<% tenant_name = property.administration_number.tenant ? property.administration_number.tenant.name : '-' %>

				<tr class="text-center">
					<td><%= property.administration_number ? property.administration_number.id : '-' %></td>
					<td><%= property.administration_number ? property.administration_number.proprietary.name : '-' %></td>
					<td><%= property.address %></td>
					<td><%= tenant_name %></td>
					<td><%= property.state_string %></td>
					<td>
						<div class="dropdown d-inline">
							<button class="btn btn-whitesmoke dropdown-toggle text-danger" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Acciones
							</button>
							<div class="dropdown-menu">
								<%= link_to 'Ver Ficha', edit_property_path(property), class: 'dropdown-item', remote: true %>
								<%= link_to 'Ver Mandato', show_property_mandate_path(property), class: 'dropdown-item', remote: true %>
								<% if property.available? and can? :manage, User %> <%= link_to 'Crear Arrendatario', create_tenant_with_admin_n_path(property.administration_number), class: 'dropdown-item' %> <% end %>
								<% if can? :destroy, property %><%= link_to 'Eliminar Propiedad', delete_property_path(property.id), class: 'dropdown-item pointer', remote: true %><% end %>
							</div>
						</div>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
