var administrationBeneficiaryRows = document.getElementById('administration-beneficiaries');
var addNewLink = document.getElementById('add-new-link');

// Add new field to the form
var newHtml = document.createElement('html');
newHtml.innerHTML = "<%= j render 'form' %>"
var administrationBeneficiaries = newHtml.getElementsByClassName('administration-beneficiary');
var newRow = administrationBeneficiaries[administrationBeneficiaries.length - 1];
administrationBeneficiaryRows.appendChild(newRow);

// Update add-expense-link
addNewLink.href = "<%= add_administration_beneficiary_path(@user, @count + 1) %>";

// Set field listeners
helpers.setRutFieldListenerByClass('rut-field');
