var administrationNumberSelect = document.getElementById('administration-number-select');

var adminN = document.getElementById('admin-n');
var adminNField = document.getElementById('admin-n-field');
var address = document.getElementById('address');
var proprietary = document.getElementById('proprietary');
var tenantN = document.getElementById('tenant-n');

var propertyAddressField = document.getElementById('address-field');

// Remove previous options
while(administrationNumberSelect.firstChild){
	administrationNumberSelect.removeChild(administrationNumberSelect.firstChild);
}

// Add new options
<% AdministrationNumber.without_proprietary.select{|n| n.id != @admin_n.id}.each do |n| %>
	var opt = document.createElement('option');
	opt.value = '<%= n.id %>';
	opt.innerHTML = '<%= n.id %>';
	administrationNumberSelect.appendChild(opt)
<% end %>

// Update visuals
adminN.innerHTML = '<%= @admin_n.id %>';
adminNField.value = '<%= @admin_n.id %>';
address.innerHTML = propertyAddressField.value;
tenantN.innerHTML = '<%= @admin_n.tenant ? @admin_n.tenant.id : "-" %>';

// Update link
var assignLink = document.getElementById('assign-administration-number');
var administrationNumberSelect = document.getElementById('administration-number-select');
href = assignLink.href.split('/');
href[href.length -1] = administrationNumberSelect.value;
href = href.join('/');
assignLink.href = href;


