modal.configDelete();
modal.setHeader('Eliminar Propiedad');
modal.setBody(`
	<p>
		¿Esta seguro que quiere <strong>Eliminar</strong> la propiedad
		<strong> <%= @property.address %> </strong>  de la administración
		N° <%= @property.administration_number.id %>?
	</p>
    <p class="mt-2 text-danger">
		<strong>Aviso:</strong> Solo podrá eliminarse si la  propiedad está disponible.
    </p>`)
modal.setFooter(`
	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
	<% if @property.available? %>
		<%= link_to 'Confirmar', @property, method: :delete, class:'btn btn-info submit', remote: true, onclick: "modal.hide()" %>
	<% else %>
		<button type="button" class="btn btn-primary" data-dismiss="modal" disabled="true">Confirmar</button>
	<% end %>`);
modal.show();
