<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: "Propiedad" %>

		<% if can? :read, Property %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Ver Propiedad</h4>
									<%= render 'partials/excel_button', table_id: 'properties-actual-table', file_name: 'propiedades' %>
								</div>

								<div class="card-header-form">
									<%= render( 'partials/search_form',
										model: 'property',
										constants: {},
										search_vars: [
											'administration_number.id',
											'administration_number.proprietary.name',
											'address',
											'administration_number.tenant.name',
											'state',
											],
										table_container_id: 'properties-table',
										table_partial: 'properties/table',
										query_name: 'properties') %>
								</div>
							</div>

							<div class="card-body p-0">
								<div id="properties-table" class="table-responsive">
									<%= render 'table', properties: @properties %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		<% else %>
			<h1> You cannot see properties </h1>
		<% end %>
	</section>
</div>
