<%= render 'partials/messages' %>

<% if can? :read, @properties %>
  <div class="main-content">
    <section class="section">
      <%= render 'partials/title', title: "Propiedad" %>
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <h4>Seleccione un Propietario para Crear Propiedad</h4>
                  <p class="h5 mt-1 mb-0">
                    <i class="fa fa-file-excel text-success"></i>
                  </p>
                </div>
                <div class="card-header-form">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr class="text-center">
                        <th>Nº ADM</th>
                        <th>Nombre Propietario</th>
                        <th>Rut</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <% @users.each do |user| %>
						<tr class="text-center">
							<td><%= user.admin_numbers %></td>
							<td><%= user.name %></td>
							<td><%= user.rut %> </td>
							<td><%= user.address %></td>
							<td><%= user.telephone %></td>
							<td><%= user.email %></td>
							<% if can? :manage, user %>
								<td>
									<%= link_to 'Crear Propiedad', "/properties/new/#{user.id}", class:['btn btn-info', current_class?("/properties/new/#{user.id}")] %>
								</td>
							<% end %>
						</tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<% else %>
  <div class="main-content">
    <section class="section">
      <%= render 'partials/title', title: "Propiedad" %>
	    <h1> You cannot see properties </h1>
    </section>
  </div>
<% end %>
