<% if can? :create, @property %>
  <div class="main-content">
    <section class="section">
      <%= render 'partials/title', title: "Propiedad" %>
	    <%= render 'partials/messages' %>
      <h2 class="section-title mb-5">Crear Propiedad de: <%= @user.name %></h2>

      <div class="row justify-content-center">
        <div class="col-11">
          <div class="progress mb-3">
            <div class="progress-bar-striped bg-info" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-11">
          <div class="row justify-content-between">
            <div class="col-3">
              <p class="font-weight-bold">Información básica.</p>
            </div>
            <div class="col-3">
              <p class="font-weight-bold">Mandato Administración</p>
            </div>
            <div class="col-3 text-center">
              <p class="font-weight-bold">Crear Administración.</p>
            </div>
            <div class="col-3 text-right">
              <p class="font-weight-bold">Guardar Administración.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-11">
		      <%= render 'form' %>
        </div>
      </div>

    </section>
  </div>
<% else %>
	<h1> No tienes permitido crear propiedades </h1>
<% end %>
