modal.reset();
<% if @property.mandate.attached? %>
	modal.configXl();
	modal.setBody("<%= j render 'mandate', property: @property %>");
<% else %>
	modal.configDelete();
	modal.setBody('No tiene mandato asociado');
<% end %>
modal.show()
