<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Indicadores' %>
			<div class="section-body">
				<!--<h2 class="section-title">This is Example Page</h2>
				<p class="section-lead">This page is just an example for you to create your own page.</p>-->

				<div class="card">
					<div class="card-body">

						<div class="row">
							<div class="col-sm-6">
								<%= render 'partials/dashboard_card',
									data: @payments_to_charge,
									header: 'Arriendos por Cobrar',
									footer: 'Arrendatarios',
									href: reports_collection_path %>
							</div>

							<div class="col-sm-6">
								<%= render 'partials/dashboard_card',
									data: @payments_to_pay,
									header: 'Arriendos por Pagar',
									footer: 'Propietarios',
									href: reports_unpaid_settlements_path %>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<%= render 'partials/dashboard_card',
									data: @properties_with_works,
									header: 'Trabajos en Propiedades',
									footer: 'Propiedades',
									href: reports_property_works_path %>
							</div>

							<div class="col-sm-6">
								<%= render 'partials/dashboard_card',
									data: @settlements_to_pay,
									header: 'Liquidaciones por Enviar',
									#footer: 'Propietarios',
									footer: 'Liquidaciones',
									href: reports_settlements_path %>
							</div>
						</div>

					</div>
				</div>

			</div>
	</section>
</div>
