<%= form_with remote: true do |f| %>
	<div class="row"><div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3"><%= label_tag		 :admin_n, 'N° ADM', class: 'control-label' %></div>
			<div class="col-sm-3"><%= number_field_tag :admin_n, admin_number.id, class: 'form-control', disabled: true %></div>
		</div>

		<div class="row">
			<div class="col-sm-3"><%= label_tag	   :tenant_name, 'Nombre Arrendatario', class: 'control-label' %></div>
			<div class="col-sm-3"><%= text_field_tag :tenant_name, admin_number.tenant.name, class: 'form-control', disabled: true %></div>
		</div>

		<div class="row">
			<div class="col-sm-3"><%= label_tag	   :tenant_address, 'Dirección', class: 'control-label' %></div>
			<div class="col-sm-3"><%= text_field_tag :tenant_address, admin_number.tenant.address, class: 'form-control', disabled: true %></div>
		</div>

		<div class="row">
			<div class="col-sm-3"><%= label_tag	   :warranty_payment_date, 'Fecha de Pago Garantía', class: 'control-label' %></div>
			<div class="col-sm-3"><%= text_field_tag :warranty_payment_date, Date.today.strftime('%d-%m-%Y'), class: 'form-control', disabled: true %></div>
		</div>
	</div></div>
	<br/>
	<div class="row">
		<% if not admin_number.contract.warranty_payment == :total %>
			<div class="col-sm-2"><%= label_tag		 :amount_of_fees, 'N de Cuotas', class: 'control-label' %></div>
			<div class="col-sm-2"><%= number_field_tag :amount_of_fees, admin_number.contract.amount_of_fees, class: 'form-control', disabled: true %></div>
		<% end %>

		<div class="col-sm-2"><%= label_tag  :payment_method, 'Forma de Pago', class: 'control-label' %></div>
		<div class="col-sm-2"><%= select_tag :payment_method, options_for_select(Payment.payment_method_collection), class: 'form-control' %></div>

		<div class="col-sm-2"><%= label_tag 		 :amount_to_pay, 'Monto a Pagar', class: 'control-label' %></div>
		<div class="col-sm-2"><%= text_field_tag :amount_to_pay, fmt_number((admin_number.contract.warranty/admin_number.contract.amount_of_fees).round), class: 'form-control', disabled: true %></div>
	</div>
	<br/>
	<div id="form-buttons-container">
		<%= link_to 'Generar Recibo', generate_warranty_receipt_path(admin_number.id), class: 'btn btn-info mt-1', remote: true %>
		<button class="btn btn-danger mt-1" data-dismiss="modal">Cancelar</button>
	</div>
<% end %>

<style>
	#form-buttons-container > *{
		float: right;
		margin: 0 0 0 5px;
	}
</style>
