<%= simple_form_for payment, remote: true do |f| %>
	<div class="row">
		<!-- Administration info -->
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-2">
					<%= label_tag		 :admin_n, 'N° ADM', class: 'control-label' %>
					<%= number_field_tag :admin_n, admin_number.id, class: 'form-control', disabled: true %>
				</div>
				<div class="col-sm-3">
					<%= label_tag	   :tenant_name, 'Nombre Arrendatario', class: 'control-label' %>
					<%= text_field_tag :tenant_name, admin_number.tenant.name, class: 'form-control', disabled: true %>
				</div>
				<div class="col-sm-4">
					<%= label_tag	   :tenant_address, 'Dirección', class: 'control-label' %>
					<%= text_field_tag :tenant_address, admin_number.tenant.address, class: 'form-control', disabled: true %>
				</div>
				<div class="col-sm-3">
					<%= label_tag	   :tenant_city, 'Ciudad', class: 'control-label' %>
					<%= text_field_tag :tenant_city, admin_number.tenant.commune_string, class: 'form-control', disabled: true %>
				</div>
			</div>
		</div>

		<div class="col-sm-3" style="display:flex;align-items:center;">
			<h5>Recibo de Arriendo N°: <%= @payment_number %></h5>
		</div>
	</div>

	<br>

	<div class="row">
		<!-- Rent info -->
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-3"><%= label_tag 	   :rent, 'Arriendo', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :rent, admin_number.contract.rent, type: 'text', class: 'form-control float-field', id: 'rent-field', disabled: true %></div>
			</div>

			<% ipc_readjustment = admin_number.contract.rent_readjustment(Date.today) %>
			<div class="row">
				<div class="col-sm-3"><%= label_tag 	   :ipc_readjustment, 'Reajuste IPC', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :ipc_readjustment, 0, type: 'text', class: 'form-control float-field', id: 'ipc-field', readonly: true %></div>
			</div>

			<% rent_total = admin_number.contract.rent + ipc_readjustment %>
			<div class="row">
				<div class="col-sm-3"><%= label_tag 	   :rent_total, 'Total Arriendo', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :rent_total, rent_total, type: 'text', class: 'form-control float-field', id: 'rent-total-field', readonly: true %></div>
			</div>

			<div class="row">
				<div class="col-sm-3"><%= label_tag 	   :delay_penalty, 'Multas por Atraso', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :delay_penalty, 0, type: 'text', class: 'form-control float-field', readonly: true, id: 'delay-penalty-field' %></div>

				<div class="col-sm-2"><%= label_tag 	   :delay_days, 'Dias de atraso', class: 'control-label' %></div>
				<div class="col-sm-2"><%= number_field_tag :delay_days, 0, class: 'form-control', min: 0, id: 'delay-days-field' %></div>
			</div>

			<div class="row">
				<div class="col-sm-3"><%= label_tag :common_expense_amount, 'Gastos Comunes', class: 'control-label' %></div>
				<div class="col-sm-5"><%= f.input	:common_expense_amount, label: false, class: 'form-control', input_html: {id: 'common-expenses-field', class: 'float-field', type: 'text'} %></div>
			</div>

			<div class="row">
				<div class="col-sm-3"><%= label_tag 	   :discounts_total, 'Total Descuentos', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :discounts_total, 0, type: 'text', class: 'form-control float-field', readonly: true, id: 'disccounts-total-field' %></div>
			</div>

			<div class="row">
				<div class="col-sm-3"><%= label_tag 		:final_total, 'TOTAL FINAL', class: 'control-label' %></div>
				<div class="col-sm-5"><%= number_field_tag :final_total, rent_total, type: 'text', class: 'form-control float-field', readonly: true, id: 'final-total-field' %></div>
			</div>
		</div>

		<!-- Payment info -->
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-6"><%= label_tag :payment_method, 'Forma de Pago', class: 'control-label' %></div>
				<div class="col-sm-6"><%= f.input 	:payment_method, label: false, collection: Payment.payment_method_collection, include_blank: false, class: 'form-control' %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag 	   :prior_balance, 'Saldo Anterior', class: 'control-label' %></div>
				<div class="col-sm-6"><%= number_field_tag :prior_balance, admin_number.tenant.balance, type: 'text', class: 'form-control float-field', id: 'prior-balance-field', readonly: true %></div>
			</div>

			<% total_to_pay = rent_total - admin_number.tenant.balance %>
			<div class="row">
				<div class="col-sm-6"><%= label_tag 	   :total_to_pay, 'Total a Pagar', class: 'control-label' %></div>
				<div class="col-sm-6"><%= number_field_tag :total_to_pay, total_to_pay, type: 'text', class: 'form-control float-field', disabled: true, id: 'total-to-pay-field' %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag :amount, 'Total Pagado', class: 'control-label' %></div>
				<div class="col-sm-6"><%= f.input	:amount, label: false, placeholder: "0.01", class: 'form-control', input_html: {id: 'amount-field', class: 'float-field', type: 'text'} %></div>
			</div>

			<div class="row">
				<div class="col-sm-6"><%= label_tag 	   :difference, 'Diferencia', class: 'control-label' %></div>
				<div class="col-sm-6"><%= number_field_tag :difference, f.object.amount - total_to_pay, type: 'text', class: 'form-control float-field', readonly: true, id: 'difference-field' %></div>
			</div>

			<!-- Period info -->
			<div class="row">
				<div class="col-sm-3"><%= label_tag :month, 'Mes Arriendo', class: 'control-label' %></div>
				<div class="col-sm-9"><p>Periódo</p></div>
			</div>

			<div class="row">
				<div class="col-sm-3"><%= f.input :month, label: false, collection: @unpaid_months_collection, include_blank: false , class: 'form-control', input_html: {id: 'month-field'} %></div>
				<% payment_day = @admin_number.contract.start_date.day %>

				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-6"><p> <strong>Desde:</strong> <%= payment_day %> de <span id="month-1"><%= f.object.month_string %></span> </p></div>
						<div class="col-sm-6"><p> <strong>Hasta:</strong> <%= payment_day %> de <span id="month-2"><%= f.object.month_string((f.object.month_number+1)%12) %></span> </p></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<%= f.input :user_id, as: :hidden, input_html: {value: admin_number.tenant.id} %>
	<%= f.input :contract_id, as: :hidden, input_html: {value: admin_number.contract.id} %>

	<div id="form-buttons-container">
		<%= f.submit 'Guardar', class: 'btn btn-success mt-1', id: 'submit-button', onclick: 'modal.showProcessing();' %>
		<button class="btn btn-danger mt-1 pull-right" data-dismiss="modal">Cancelar</button>
	</div>
<% end %>

<style>
	#form-buttons-container > *{
		float: right;
		margin: 0 0 0 5px;
	}
</style>

<p id='processing-message' hidden> Procesando... </p>

<%= content_for :extra_js do %>
	//helpers.setFloatFieldListenerByClass('float-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('float-field');
	}
</script>
