<%	admin_number =     '-'
	tenant_name =      '-'
	property_address = '-'
	if payment.contract.administration_number
		admin_number =     payment.contract.administration_number.id
		tenant_name =      payment.contract.administration_number.tenant.name
		property_address = payment.contract.administration_number.property.address
	end
%>

<div class="row">
	<div class="col-sm-8">
		<iframe id="pdf-frame" title="" width="100%" style="height: 80vh;" src="<%= url_for(payment.receipt) %>">
		</iframe>
	</div>

	<div class="col-sm-4">
		<p><strong>N° Arriendo: </strong> <%= payment.id %> </p>
		<p><strong>N° ADM:		</strong> <%= admin_number %> </p>
		<p><strong>Arrendatario:</strong> <%= tenant_name %> </p>
		<p><strong>Propiedad:	</strong> <%= property_address %> </p>
		<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
		<button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button>
	</div>
</div>
