
<iframe id="pdf-frame" title="" width="100%" style="height: 80vh;" src="<%= url_for(contract.proprietary_payment) %>">
</iframe>

<div class="row">
	<div class="col-sm-6"><button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button></div>
	<div class="col-sm-6"><button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button></div>
</div>
