<table class="table table-bordered table-responsive-sm" id="payments-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Nº ADM</th>
			<th>Nombre Arrendatario</th>
			<th>Dirección</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.tenant.name %></td>
				<td><%= n.property.address %></td>
				<td><%= n.contract.state_string %></td>

				<% if can? :manage, Payment %>
					<td class="button-container" id="admin-number-<%= n.id %>">
						<%= link_to 'Detalle de Pago Propietario', show_proprietary_payment_path(n.id), 	class: 'btn btn-tight btn-warning mt-1', remote: true %>
						<%= link_to 'Recibo Arriendo', 			   new_payment_path(n.id),		 	class: 'btn btn-tight btn-info mt-1', remote: true %>
						<% if n.contract.paid_waranty_fees < n.contract.amount_of_fees %>
							<%= link_to 'Recibo Garantía', 			   new_warranty_payment_path(n.id), class: 'btn btn-tight btn-danger mt-1', id: "admin-number-#{n.id}-warranty-btn", remote: true %>
						<% else %>
							<%= link_to 'Recibo Garantía', 			   new_warranty_payment_path(n.id), class: 'btn btn-tight btn-danger mt-1 disabled', id: "admin-number-#{n.id}-warranty-btn", remote: true %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
