<div class="row">
	<div class="col-sm-8">
		<iframe id="pdf-frame" width="100%" style="height: 80vh;" src="<%= url_for admin_number.contract.warranty_receipt %>">
		</iframe>
	</div>

	<div class="col-sm-4">
		<!-- <p><strong>N° Garantía: </strong> <%= '?' %> </p> -->
		<p><strong>N° ADM:		</strong> <%= admin_number.id %> </p>
		<p><strong>Arrendatario:</strong> <%= admin_number.tenant.name %> </p>
		<p><strong>Propiedad:	</strong> <%= admin_number.property.address %> </p>
		<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
		<button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button>
	</div>
</div>
