modal.configXl();
modal.reset();
modal.setHeader('Recibo de Garantía');
modal.setBody("<%= j render 'warranty_receipt', admin_number: @admin_number %>");
modal.show();

<% if @admin_number.contract.paid_waranty_fees >= @admin_number.contract.amount_of_fees %>
	document.getElementById('admin-number-<%= @admin_number.id %>-warranty-btn').className += ' disabled';
<% end %>
