<% if can? :read, Payment %>
	<%= render 'partials/messages' %>

	<div class="main-content">
		<section class="section">
			<%= render 'partials/title', title: 'Administración' %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Ingreso de Pagos</h4>
									<%= render 'partials/excel_button', table_id: 'payments-table', file_name: 'pagos' %>
								</div>
								<div class="card-header-form">
									<%= render( 'partials/search_form',
												model: 'administration_number',
												init_queries: ['active_contract'],
												constants: {},
												search_vars: [
													'id',
													'tenant.name',
													'property.address',
													'contract.active',
													],
												table_container_id: 'admin-n-table',
												table_partial: 'payments/table_admin_n',
												query_name: 'admin_numbers') %>
								</div>
							</div>
							<div class="card-body p-0" id="admin-n-table">
								<%= render 'table_admin_n', admin_numbers: @admin_numbers %>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>

<% else %>
	<h1> No tienes permitido visualizar pagos </h1>
<% end %>

<style>
	.btn-tight{
		padding: 2px;
	}

	.button-container{
		padding: 0px 0px 0px 0px !important;
	}
</style>
