modal.reset();
modal.configXl();
modal.setHeader('Información de Pagos');
modal.setBody("<%= j render 'form', payment: @payment, admin_number: @admin_number %>");

// Event listeners
var rentField = document.getElementById('rent-field');
var ipcField = document.getElementById('ipc-field');
var rentTotalField = document.getElementById('rent-total-field');
var delayDaysField = document.getElementById('delay-days-field');
var delayPenaltyField = document.getElementById('delay-penalty-field');
var commonExpensesField = document.getElementById('common-expenses-field');
var discountsTotalField = document.getElementById('disccounts-total-field');
var finalTotalField = document.getElementById('final-total-field');


var priorBalanceField = document.getElementById('prior-balance-field');
var totalToPayField = document.getElementById('total-to-pay-field');
var amountField = document.getElementById('amount-field');
var differenceField = document.getElementById('difference-field');


var monthField = document.getElementById('month-field');
var month1Field = document.getElementById('month-1');
var month2Field = document.getElementById('month-2');


var submitButton = document.getElementById('submit-button');
var form = document.getElementById('new_payment');
var processingMessageP = document.getElementById('processing-message');

function parseEsFloat(esFloatString) {
	const enString = esFloatString.replace(/\./g, '').replace(',', '.');
	return parseFloat(enString);
}

function updateFields(){
	var daysForPenalty = <%= @admin_number.contract.days_for_penalty %>;
	var delayedDays = delayDaysField.value > daysForPenalty ? delayDaysField.value - daysForPenalty : 0;
	//var delayPenalty = delayedDays * <%= @admin_number.contract.daily_penalty_percentage %>;
	var delayPenalty = delayedDays * <%= @admin_number.contract.daily_penalty_percentage %>/100 * <%= @admin_number.contract.rent %> ;
	console.log('days for penalty ' + daysForPenalty);
	console.log('delayedDyas ' + delayedDays);
	console.log('delayPenalty ' + delayPenalty);

	var rent = parseEsFloat(rentField.value);
	var ipc = parseEsFloat(ipcField.value);
	var rentTotal = rent + (ipc/100 * rent);
	console.log('rent ' + rent)
	console.log('ipc ' + ipc)
	console.log('rentTotal ' + rentTotal)
	rentTotalField.value = helpers.formatFloat(rentTotal.toString(), fromSrv = true);

	delayPenaltyField.value = helpers.formatFloat(delayPenalty, fromSrv = true);

	//var finalTotal = parseEsFloat(rentTotalField.value) + delayPenalty + parseEsFloat(commonExpensesField.value) - parseEsFloat(discountsTotalField.value);
	var commonExpenses = parseEsFloat(commonExpensesField.value);
	var discountsTotal = parseEsFloat(discountsTotalField.value);
	var finalTotal = rentTotal + delayPenalty + commonExpenses - discountsTotal;
	console.log('commonExpeneses ' + commonExpenses)
	console.log('discountsTotal ' + discountsTotal)
	console.log('finalTotal ' + finalTotal)
	finalTotalField.value = helpers.formatFloat(finalTotal.toString(), fromSrv = true);

	var priorBalance = parseEsFloat(priorBalanceField.value);
	var totalToPay = finalTotal - priorBalance;
	console.log('priorBalance ' + priorBalance)
	console.log('totaltToPay ' + totalToPay)
	totalToPayField.value = helpers.formatFloat(totalToPay.toString(), fromSrv = true);

	var amount = parseEsFloat(amountField.value);
	var difference = amount - totalToPay;
	console.log('amount ' + amount)
	console.log('difference ' + difference)
	console.log('');
	differenceField.value = helpers.formatFloat(difference.toString(), fromSrv = true);
}

function updateMonthAndDiscounts(month){
	MONTHS = {
		"january"	: "Enero",
		"february"	: "Febrero",
		"march"		: "Marzo",
		"april" 	: "Abril",
		"may"		: "Mayo",
		"june"		: "Junio",
		"july"		: "Julio",
		"august"	: "Agosto",
		"september" : "Septiembre",
		"october"	: "Octubre",
		"november"	: "Noviembre",
		"december"	: "Diciembre",
	}
	month_number = Object.keys(MONTHS).indexOf(month);
	month_names = Object.values(MONTHS);
	month1Field.innerHTML = month_names[month_number];
	month2Field.innerHTML = month_names[(month_number + 1)%12];

	// Update delay_days
	delay_days_by_month = {};
	<% @delay_days_by_month.each do |k, v| %>
		delay_days_by_month['<%= k %>'] = <%= v %>;
	<% end %>
	delayDaysField.value = delay_days_by_month[month];

	// Update discounts call
	$.ajax({
		url: 'payments/new/update_discounts/' +'<%= @admin_number.id %>/' + month,
		type: "GET",
		async: false,
		success: function(data){
			discountsTotalField.value = helpers.formatFloat(data, fromSrv = true);
		}
	});
}

function updateIPC(month){
	/*
	MONTH_IPC = {}
	<% IpcReadjustment.month_value_for_year(Date.today.year).each do |k ,v| %>
		MONTH_IPC['<%= k %>'] = <%= v %>;
	<% end %>

	if(MONTH_IPC[month] == -1){
		alert('No hay datos disponibles para el IPC de este mes');
		ipcField.value = 0;
	}else{
		ipcField.value = MONTH_IPC[month]
	}
	updateFields();*/


	// Update discounts call
	//$.ajax({
	//	url: 'payments/new/update_ipc/'+year+'/'+MONTH_N[month],
	//	type: "GET",
	//	async: false,
	//});

	/*
	url = 'https://api.sbif.cl/api-sbifv3/recursos_api/ipc/'+year+'/'+MONTH_N[month]+'?apikey=f39f3e325687640ecdcb805f113c0f9ef730b74f&formato=JSON'
	var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.setRequestHeader('Access-Control-Allow-Origin', '*');
    xmlHttp.send( null );
    if(xmlHttp.status == 200){
		var json = JSON.parse(xmlHttp.responseText);
		var ipc = parseFloat(json['IPCs'][0]['Valor'].replace(',', '.'));
	}else{
		ipc = 0;
		alert('No hay datos disponibles para el IPC de este mes');
	}

	ipcField.value = ipc;*/
	readjustment_by_month = {};
	<% @readjustment_by_month.each do |k, v| %>
		readjustment_by_month['<%= k %>'] = <%= v %>;
	<% end %>

	ipcField.value = readjustment_by_month[month];
	updateFields();
}

monthField.onchange = function(evt){
	updateMonthAndDiscounts(evt.target.value);
	updateIPC(evt.target.value);
	updateFields();
}

delayDaysField.onchange = function(evt){
	updateFields();
}

amountField.onchange = function(evt){
	updateFields();
}

commonExpensesField.onchange = function(evt){
	updateFields();
}


updateMonthAndDiscounts(monthField.value);
updateIPC(monthField.value);
updateFields();

modal.show()
