
<span class="float-left">RECIBO DE ARRIENDO</span>
<br/>
<table>
	<tr>
		<td width="20%">Recibi de</td>
		<td width="20%"><%= tenant.name %></td>
	</tr>
	<tr>
		<td>Por Arriendo de</td>
		<td><%= property.type_string %></td>
	</tr>
	<tr>
		<td>Ubicado en</td>
		<td><%= property.address %></td>
	</tr>
	<tr>
		<td>Ciudad</td>
		<td><%= property.region_string %></td>
	</tr>
</table>
<br/>
<table>
	<tr>
		<td width="25%">Arriendo</td>
		<td width="25%"><%#= ActionView::Helpers::ApplicationHelper::fmt_number(contract.rent) %></td>
		<td width="25%"><%= fmt_number(contract.rent) %></td>
		<td width="25%"></td>
		<td width="10%"></td>
	</tr>
	<tr>
		<td>Reajuste IPC</td>
		<td><%= fmt_number(contract.rent_readjustment(Date.new(payment.year, payment.month_number, contract.start_date.day))) %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Multas por Atraso</td>
		<td><%= fmt_number(payment.delay_penalty) %></td>
		<td>Dias de atraso</td>
		<td><%= payment.delay_days %></td>
	</tr>
	<tr>
		<td>Gastos Comunes</td>
		<td><%= fmt_number(payment.common_expense_amount) %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Total Descuentos</td>
		<td><%= fmt_number(payment.discounts) %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Saldo Anterior</td>
		<td><%= fmt_number(prior_balance) %></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<% total = contract.rent + payment.delay_penalty + payment.common_expense_amount - payment.discounts - prior_balance %>
		<td>Total</td>
		<td><%= fmt_number(total) %></td>
		<td></td>
		<td></td>
	</tr>
</table>
<br/>
<table>
	<tr>
		<td>Forma de Pago:</td>
		<td><%= payment.payment_method_string %></td>
		<td><%= fmt_number(payment.amount) %></td>
	</tr>
	<tr>
		<td>Diferencia</td>
		<td><%= fmt_number(payment.amount - total) %></td>
		<td></td>
	</tr>
	<tr>
		<td>Saldo a favor</td>
		<td><%= fmt_number(tenant.balance) %></td>
		<td></td>
	</tr>
</table>
<br/>

<p>Señor Arrendatario: El pago del arriendo debe realizarse:
   1. Transferencia bancaria. 2. Deposito Cta. Cte. 3. Pago en oficina.
   Para todos los pagos usted debera exigir un recibo de respaldo
   sin este, su pago no es efectivo.
   Cta. Cte. Nro. <%= Company.info.account_number %>
   Banco <%= Company.info.bank_string %> RUT <%= Company.info.rut %>
   a nombre de Inmobiliaria Civitanic Ltda. respaldo de deposito o
   transferencia al correo transferencias@civitanic.cl</p>
