<% if not payment.nil? %>
	<span class="float-left">RECIBO DE ARRIENDO</span>
	<br/>
	<table>
		<tr>
			<td width="20%">Recibi de</td>
			<td width="20%"><%= tenant.name %></td>
		</tr>
		<tr>
			<td>Por Arriendo de</td>
			<td><%= property.type_string %></td>
		</tr>
		<tr>
			<td>Ubicado en</td>
			<td><%= property.address %></td>
		</tr>
		<tr>
			<td>Ciudad</td>
			<td><%= property.region_string %></td>
		</tr>
	</table>
	<br/>
	<table>
		<tr>
			<td width="25%">Arriendo</td>
			<td width="25%"><%= fmt_number(contract.rent) %></td>
			<td width="25%"></td>
			<td width="10%"></td>
		</tr>
		<tr>
			<td>Reajuste IPC</td>
			<td><%= fmt_number(contract.rent_readjustment(Date.new(payment.year, payment.month_number, contract.start_date.day))) %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Multas por Atraso</td>
			<td><%= fmt_number(payment.delay_penalty) %></td>
			<td>Dias de atraso</td>
			<td><%= payment.delay_days %></td>
		</tr>
		<tr>
			<td>Gastos Comunes</td>
			<td><%= fmt_number(payment.common_expense_amount) %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Total Descuentos</td>
			<td><%= fmt_number(payment.discounts) %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saldo Anterior</td>
			<td><%= fmt_number(prior_balance) %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<% total = contract.rent + payment.delay_penalty + payment.common_expense_amount - payment.discounts - prior_balance %>
			<td>Total</td>
			<td><%= fmt_number(total) %></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<br/>
	<table>
		<tr>
			<td>Forma de Pago:</td>
			<td><%= payment.payment_method_string %></td>
			<td><%= payment.amount %></td>
		</tr>
		<tr>
			<td>Diferencia</td>
			<td><%= fmt_number(payment.amount - total) %></td>
			<td></td>
		</tr>
		<tr>
			<td>Saldo a favor</td>
			<td><%= fmt_number(tenant.balance) %></td>
			<td></td>
		</tr>
	</table>
	<br/>

	<p>Señor Arrendatario: El pago del arriendo debe realizarse:
	   1. Transferencia bancaria. 2. Deposito Cta. Cte. 3. Pago en oficina.
	   Para todos los pagos usted debera exigir un recibo de respaldo
	   sin este, su pago no es efectivo.
	   Cta. Cte. Nro. <%= Company.info.account_number %>
	   Banco <%= Company.info.bank_string %> RUT <%= Company.info.rut %>
	   a nombre de Inmobiliaria Civitanic Ltda. respaldo de deposito o
	   transferencia al correo transferencias@civitanic.cl</p>
<% end %>

<% if not settlement.nil? %>
	<span class="float-right">Antofagasta <%= settlement.date %></span>
	<br/>
	<table class="">
		<tr>
			<td>Señor(a)</td>
			<td></td>
		</tr>
		<tr>
			<td><%= proprietary.name %></td>
			<td>Liquidación Nro.: <%= settlement.number %></td>
		</tr>

		<tr>
			<td><%= property.address %></td>
			<td>Ref. Adm.: <%= admin_n.id %></td>
		</tr>
		<tr>
			<td> Santiago </td>
			<td></td>
		</tr>
	</table>
	<br/>
	<span><strong>LIQUIDACIÓN DE RENTA DE ARRENDAMIENTO</strong></span>
	<br/>
	<table class="bordered">
		<tr>
			<td>Propietario: </td>
			<td><%= proprietary.name %></td>
		</tr>
		<tr>
			<td>Arrendatario: </td>
			<td><%= tenant.name %></td>
		</tr>
		<tr>
			<td>Propiedad:</td>
			<td><%= property.address %></td>
		</tr>
	</table>
	<br/>
	<span class="float-left">DETALLE</span>
	<table class="bordered">
		<tr>
			<td>Arriendo para <%= settlement.range %></td>
			<td><%= fmt_number(settlement.contract.rent) %></td>
			<td></td>
		</tr>
		<tr>
			<td>Multas por atraso</td>
			<td><%= 0 %></td>
			<td></td>
		</tr>
		<tr>
			<td>Administración <%= property.adm_percentage() %>% mas IVA Fact Nro. <%= settlement.invoice_number %></td>
			<td></td>
			<td><%= fmt_number(contract.administration_percentage) %></td>
		</tr>
		<tr>
			<td>Transferencia a Cta. Cte.</td>
			<td></td>
			<td><%= fmt_number(settlement.contract.rent + 0 - contract.administration_percentage) %></td>
		</tr>

		<tr></tr>

		<tr>
			<td class="no-border">Sumas Iguales</td>
			<td><%= fmt_number(settlement.contract.rent + 0) %></td>
			<td><%= fmt_number(settlement.contract.rent + 0) %></td>
		</tr>
	</table>
	<br/>
	<table>
		<tr><td>La presente liquidación se transfiere a la <%= '-' %></td></tr>
		<tr><td>Adjunto encontrará, factura de comisión de administración y comprobante
				de transferencia bancaria.</td></tr>
		<tr><td>Sin otro particular, saluda atentamente a usted.</td></tr>
		<tr><td>Cherye Magnata Varas</td></tr>
		<tr><td>Jefe Oficina</td></tr>
		<tr><td>Inmobiliaria Cvitanic Ltda.</td></tr>
	</table>
<% end %>

