<table>
	<tr><td><%= property.address %></td></tr>
	<tr><td>Arrendatario: <%= tenant.name %></td></tr>
	<tr><td>Propietario: <%= proprietary.name %></td></tr>
	<tr><td>Fecha de entrega: <%= contract.expiration_date %></td></tr>
</table>
<br/>
<table class="bordered">
	<thead>
		<th style="width: 40%">Detalle</th>
		<th style="width: 10%">Monto</th>
		<th style="width: 10%"></th>
		<th style="width: 40%"></th>
	</thead>
	<tbody>
		<tr>
			<td>Garantía Mes</td>
			<td><%= fmt_number(contract.warranty/contract.amount_of_fees) %></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>Valor Pagado</td>
			<td></td>
			<td><%= fmt_number(contract.warranty/contract.amount_of_fees) %></td>
			<td></td>
		</tr>

		<tr>
			<td>Sumas Iguales</td>
			<td><%= fmt_number(contract.warranty/contract.amount_of_fees) %></td>
			<td><%= fmt_number(contract.warranty/contract.amount_of_fees) %></td>
			<td></td>
		</tr>


	</tbody>
	<br/>

	<p>Señor Arrendatario: El pago del arriendo debe realizarse:
	   1. Transferencia bancaria. 2. Deposito Cta. Cte. 3. Pago en oficina.
	   Para todos los pagos usted debera exigir un recibo de respaldo
	   sin este, su pago no es efectivo.
	   Cta. Cte. Nro. <%= Company.info.account_number %>
	   Banco <%= Company.info.bank_string %> RUT <%= Company.info.rut %>
	   a nombre de Inmobiliaria Civitanic Ltda. respaldo de deposito o
	   transferencia al correo transferencias@civitanic.cl</p>
</table>
