<%= simple_form_for @user, url: remote ? system_update_user_path(@user) : system_create_user_path, remote: remote do |f| %>
	<div class="row">
		<div class="col-sm-4"><%= f.input :name, as: :string, label: 'Nombre Completo' %></div>
		<div class="col-sm-4"><%= f.input :rut, as: :string, label: 'Rut', input_html: {class: 'rut-field'} %></div>
		<div class="col-sm-4"><%= f.input :role, collection: User.internal_role_collection, label: 'Perfil', include_blank: false %></div>
	</div>

	<div class="row">
		<div class="col-sm-6"><%= f.input :password, as: :password, label: 'Password' %></div>
		<div class="col-sm-6"><%= f.input :email, as: :string, label: 'Correo Electronico' %></div>
	</div>

	<div class="row">
		<div class="col-sm-8"></div>
		<div class="col-sm-1"><button class="btn btn-danger" data-dismiss="modal">Cancelar</button></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-1"><%= f.submit 'Crear', class: 'btn btn-info' %></div>
		<div class="col-sm-1"></div>
	</div>
<% end %>
