<table class="table table-bordered table-responsive-sm" id="logs-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th>Usuario</th>
			<th>Fecha Hora</th>
			<th>Evento</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
		<% logs.each do |log_entry| %>
			<tr class="text-center">
				<td><%= log_entry.user.name %></td>
				<td><%= log_entry.datetime.strftime('%d-%m-%Y | %l:%M %p') %></td>
				<td><%= log_entry.action.capitalize %> <%= log_entry.model.capitalize %></td>
				<td><%= log_entry.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
