<div class="table-responsive">
	<table class="table table-bordered table-responsive-sm">
		<thead class="thead-dark">
			<tr class="text-center">
				<th>Nombre</th>
				<th>Email</th>
				<th>Perfil</th>
				<th colspan="2">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% users.each do |user| %>
				<tr class="text-center">
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.role_string %></td>
					<td><%= link_to 'Modificar', system_edit_user_path(user), class: 'btn btn-info', remote: true %></td>
					<% if user.active %><td><%= link_to 'Inactivar', system_deactivate_user_path(user), class: 'btn btn-danger', remote: true %></td>
					<% else %>			<td><%= link_to 'Activar', system_activate_user_path(user), class: 'btn btn-success', remote: true %></td><% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
