modal.reset();
modal.configXl();
modal.setHeader('Editar Usuario');
<% if @user.internal? %>
	modal.setBody("<%= j render 'form', remote: true %>");
<% else %>
	modal.setBody('<%= j render "users/form_#{@user.role}_remote" %>');
<% end %>

helpers.setRutFieldListenerByClass('rut-field');
modal.show();
