<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Control Sistema' %>

		<div class="section-body">
			<div class="card">

				<div class="card-header d-flex justify-content-between align-items-center">
					<div class="d-flex flex-column align-items-center">
						<h4>Datos de la Empresa</h4>
					</div>
				</div>

				<div class="card-body p-0">
					<%= simple_form_for @company_info, url: system_update_info_path do |f| %>
						<span>Información de la Empresa</span>
						<div class="row row-bordered">
							<div class="col-sm-3">
								<%= f.input :name, label: 'Nombre o Razón Social' %>
							</div>
							<div class="col-sm-2">
								<%= f.input :rut, label: 'Rut', input_html: {class: 'rut-field'} %>
							</div>
							<div class="col-sm-3">
								<%= f.input :address, label: 'Dirección' %>
							</div>
							<div class="col-sm-2">
								<%= f.input :region, label: 'Región', collection: Company.region_collection, include_blank: false, input_html: {onchange: 'helpers.updateCommuneByRegion(event.target.value, "commune-field");', id: 'region-field'} %>
							</div>

							<div class="col-sm-2">
								<%= f.input :commune, label: 'Comuna', collection: Company.commune_collection, include_blank: false, input_html: {id: 'commune-field'} %>
							</div>
						</div>
						<br/>
						<span>Información de Contacto</span>
						<div class="row row-bordered">
							<div class="col-sm-3">
								<%= f.input :email, label: 'Email' %>
							</div>
							<div class="col-sm-3">
								<%= f.input :telephone1, label: 'Teléfono 1' %>
							</div>
							<div class="col-sm-3">
								<%= f.input :telephone2, label: 'Teléfono 2' %>
							</div>
							<div class="col-sm-3">
								<%= f.input :cellphone, label: 'Celular' %>
							</div>
						</div>
						<br/>
						<span>Información Bancaria</span>
						<div class="row row-bordered">
							<div class="col-sm-2">
								<%= f.input :bank, label: 'Nombre del Banco', collection: Company.bank_collection %>
							</div>
							<div class="col-sm-2">
								<%= f.input :account_type, label: 'Tipo Cta', collection: Company.account_type_collection %>
							</div>
							<div class="col-sm-3">
								<%= f.input :titular, label: 'Nombre del Titular' %>
							</div>
							<div class="col-sm-2">
								<%= f.input :account_number, label: 'Número de Cuenta' %>
							</div>
							<div class="col-sm-3">
								<%= f.input :account_email, label: 'Email de Transferencia' %>
							</div>
						</div>
						<br/>

						<%= f.submit 'Actualizar', class: 'btn btn-info float-right' %>
						<button class="btn btn-danger float-right" onclick="event.preventDefault(); window.location.reload();">Cancelar</button>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.row-bordered {
		border-style: solid;
		border-width: 2px;
		border-color: rgba(0, 0, 0, 0.08);
		padding: 5px;
		margin: 0px;
	}

	.float-right {
		float: right;
		margin-right: 10px;
	}
</style>

<% content_for :extra_js do %>
	helpers.setRutFieldListenerByClass('rut-field');
	var currentRegion = document.getElementById('region-field').value;
	helpers.updateCommuneByRegion(currentRegion, 'commune-field');
<% end %>
