<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Control Sistema' %>
		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header d-flex justify-content-between align-items-center" style="padding: 0;">
							<div class="d-flex flex-column align-items-center">
								<h4>Visor de Eventos</h4>
								<%= render 'partials/excel_button', table_id: 'logs-table', file_name: 'eventosDelSistema' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form_with_dates',
											model: 'log_entry',
											init_queries: [],
											constants: {},
											search_vars: [
												'user.name',
												'datetime',
												'action',
												'description',
												],
											time_vars: [
												'datetime',
											],
											table_container_id: 'logs-table-container',
											table_partial: 'system_controls/table_logs',
											query_name: 'logs') %>
							</div>
						</div>

						<div class="card-body p-0">

							<br/>
							<div class="table-responsive" id="logs-table-container">
								<%= render 'system_controls/table_logs', logs: @logs %>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
