<% if @user.internal? %>
	usersTab = document.getElementById('internal-users');
<% else %>
	usersTab = document.getElementById('external-users');
<% end %>

usersTab.innerHTML = "<%= j render 'table', users: @users %>"

modal.hide()
