<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Control Sistema' %>
		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<h4>Usuarios y Perfiles</h4>
							</div>
						</div>

						<div class="card-body p-0">

							<!-- Tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="profile-users-tab" data-toggle="tab" href="#profile-users" role="tab"  aria-selected="true">Usuario y Perfil</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" id="internal-users-tab" data-toggle="tab" href="#internal-users" role="tab" aria-selected="false">Usuarios Internos</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" id="external-users-tab" data-toggle="tab" href="#external-users" role="tab"  aria-selected="false">Usuarios Externos</a>
								</li>
							</ul>

							<div class="tab-content tab-bordered">

								<!-- Basic information tab -->
								<div class="tab-pane fade show active min-height-500px " id="profile-users" role="tabpanel" aria-labelledby="profile-users-tab">
									<%= render 'form', remote: false %>
								</div>

								<div class="tab-pane fade min-height-500px " id="internal-users" role="tabpanel" aria-labelledby="internal-users-tab">

									<%= render 'table', users: @internal_users %>

								</div>

								<div class="tab-pane fade min-height-500px " id="external-users" role="tabpanel" aria-labelledby="external-users-tab">

									<%= render 'table', users: @external_users %>

								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>

<% content_for :extra_js do %>
	helpers.setRutFieldListenerByClass('rut-field');
<% end %>
