<div class="card-body p-0">
	<div class="table-responsive">
		<table class="table table-bordered" id="administration-table" >
			<thead class="thead-dark">
				<tr class="text-center">
					<th> N° ADM </th>
					<th> Nombre Propietario </th>
					<th> Dirección Propiedad </th>
					<th> Nombre Arrendatario </th>
					<th> Estado Administración </th>
				</tr>
			</thead>

			<% admin_numbers.each do |admin_n| %>
				<tr class="text-center">
					<td><%= admin_n.id %></td>
					<td><%= admin_n.proprietary ? admin_n.proprietary.name : '-' %></td>
					<td><%= admin_n.property ? admin_n.property.address : '-' %></td>
					<td><%= admin_n.tenant ? admin_n.tenant.name : '-' %></td>
					<td><%= (admin_n.contract and admin_n.contract.active?) ? 'Ocupada' : 'Disponible' %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
