<%= render 'partials/messages' %>

<% if can? :read, AdministrationNumber %>
	<div class="main-content">
		<section class="section">
			<%= render 'partials/title', title: "Administración" %>
			<div class="section-body">
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="d-flex flex-column align-items-center">
									<h4>Listado de Administración</h4>
									<%= render 'partials/excel_button', table_id: 'administration-table', file_name: 'listadoAdministracion' %>
								</div>

								<div class="card-header-form">
									<%= render( 'partials/search_form',
												model: 'administration_number',
												init_queries: [],
												constants: {},
												search_vars: [
													'id',
													'proprietary.name',
													'property.address',
													'tenant.name',
													'contract.active',
													],
												table_container_id: 'admin-n-table-container',
												table_partial: 'administration_numbers/table',
												query_name: 'admin_numbers') %>
								</div>

							</div>

							<div class="card-body p-0">
								<div id="admin-n-table-container" class="table-responsive">
									<%= render 'table', admin_numbers: @admin_numbers %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>

<% else %>
	<div class="main-content">
		<section class="section">
			<%= render 'partials/title', title: "Administración" %>
			<h1> No puedes ver el listado de administración </h1>
		</section>
	</div>
<% end %>
