$colors: (
  primary:    		#7B7485,
  secondary:      #F9150A,
  success:        #63ed7a,
  info:           #3abaf4,
  warning:        #ffa426,
  danger:         #F9150A,
  light:          #e3eaef,
  grey:  		      #868e96,
  whitesmoke:     #f7f9f9,
  dark:       		#191d21,
  muted:          #98a6ad,
  body:           #FAFDFB,
  font:           #4A4453,
  fontdark:       #34395e,
  white:          #ffffff,

  // Form Control
  formcontrol_normal_background:    #fdfdff,
  formcontrol_normal_border:        #e4e6fc,
  formcontrol_focus_background:     #fefeff,
  formcontrol_focus_border:         #7B7485,

  // Utilities
  section_title_line: #0002FF,
);

$primary: "#7B7485";
$font_family:   'Nunito', 'Segoe UI', arial;
$font_weight:   normal;
$font_size:     15px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

