<% if can? :create, @expense %>
	<%= simple_form_for @expense, html: { class: "no-gutters justify-content-center"}, remote: true do |f| %>
		<div class="row">
			<div class="col-sm-11">
				<div class="row">
					<div class="col-sm-3"><%= f.input :date, as: :date_picker, label: 'Fecha' %></div>
					<div class="col-sm-6"><%= f.input :description, label: 'Detalle del Gasto' %></div>
					<div class="col-sm-3"><%= f.input :provider_name, label: 'Nombre o Proveedor' %></div>
				</div>
				<div class="row">
					<div class="col-sm-2 center"><%= f.input :contributions, label: 'Contribuciones' %></div>
					<div class="col-sm-2"><%= f.input :amount, label: 'Monto del Gasto', input_html: {type: 'text', class: 'float-field'} %></div>
					<div class="col-sm-2"><%= f.input :voucher_type, label: 'Tipo Comprobante', collection: Expense::VOUCHERTYPE_STR.invert, include_blank: false %></div>
					<div class="col-sm-3"><%= f.input :voucher_number, label: 'N° de Comprobante' %></div>
					<div class="col-sm-1 mid-bottom"><%= render 'partials/file_button', f: f, file_field: :voucher, label: 'Evidencia', previous: true %></div>
					<div class="col-sm-2"><%= f.input :proprietary, label: 'Asignar a...', collection: [['Arrendatario', 0], ['Propietario', 1]], include_blank: false %></div>
				</div>
			</div>

			<div class="col-sm-1 center">
				<div class=" align-self-center">
					<%= f.submit "+", class: "btn btn-info rounded-circle", onclick: 'modal.showProcessing();' %>
				</div>
			</div>
		</div>


		<%= f.input :property_id, as: :hidden, input_html: {:value => @property.id} %>
	<% end %>

	<div id="form-status"></div>
<% else %>
	<div class="card-header">
		<h4>No tienes permitido crear gastos</h4>
	</div>
<% end %>

<style>
	.center{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mid-bottom{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
</style>

<%= content_for :extra_js do %>
	helpers.setFloatFieldListenerByClass('float-field');
<% end %>
<script>
	if (typeof helpers != 'undefined') {
		helpers.setFloatFieldListenerByClass('float-field');
	}
</script>
