
<div class="card-body p-0">
	<iframe id="pdf-frame" title="<%= @expense.voucher.filename %>" width="600" height="600" src="<%= url_for(@expense.voucher) %>"></iframe>
</div>

<div class="card-footer">
	<button class="btn btn-danger btn-lg mr-4", onclick="helpers.printFrame('pdf-frame');">Imprimir</button>
	<button class="btn btn-danger btn-lg mr-4", onclick="modal.hide();">Cancelar</button>
</div>
