<div class="">
	<table class="table table-bordered table-responsive-sm" id="expenses-table">
		<thead class="thead-dark">
			<tr class="text-center">
				<th>N ADM</th>
				<th>Arrendatario</th>
				<th>Direccion</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% properties.each do |property| %>
				<% tenant_name = property.administration_number.tenant ? property.administration_number.tenant.name : '-' %>
				<tr class="text-center">
					<td><%= property.administration_number.id %></td>
					<td><%= tenant_name %></td>
					<td><%= property.address %></td>
					<td><%= property.state_string %></td>
					<td>
						<%= link_to "Ingreso de Gastos", "/expenses/fetch/#{property.id}", remote: true, class: 'btn btn-info mt-1' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
