<div class="text-center">
	<p class="lead">Nº de Administración: <%= property.administration_number.id %></p>
</div>

<div class="card-body p-0 ">

	<table class="table table-bordered table-tight" id="expenses-table">
		<thead class="thead-dark text-center">
			<th style="width: 4%;"></th>
			<th style="width: 10%;"> Fecha del Gasto </th>
			<th style="width: 10%;"> Monto del Gasto </th>
			<th style="width: 22%;"> Detalle del Gasto </th>
			<th style="width: 10%;"> Nombre o Proveedor </th>
			<th style="width: 10%;"> Tipo de Comprobante </th>
			<th style="width: 10%;"> N° de Comprobante </th>
			<th style="width: 10%;"> Asignar Gasto al... </th>
			<th style="width: 7%;"></th>
			<th style="width: 7%;"></th>
		</thead>

		<tbody>
			<% @expenses.each do |expense| %>
				<tr class="text-center">
					<td class="cell-tight"><%= link_to "-", expense_path(expense), method: :delete, remote: true, class: 'btn btn-danger mb-2 rounded-circle font-weight-bold' %></td>
					<td class="cell-tight"><%= expense.date.strftime("%d-%m-%Y") %></td>
					<td class="cell-tight"><%= fmt_number expense.amount %></td>
					<td class="cell-tight"><%= expense.description %></td>
					<td class="cell-tight"><%= expense.provider_name %></td>
					<td class="cell-tight"><%= expense.voucher_type_string %></td>
					<td class="cell-tight"><%= expense.voucher_number %></td>
					<td class="cell-tight"><%= expense.assigned_to %></td>
					<% if expense.voucher.attached? %>
						<td class="cell-tight"><%= link_to 'Evidencia', "/expenses/fetch_expense/#{expense.id}", remote: true, class: 'btn btn-info btn-tight' %></td>
					<% else %>
						<td class="cell-tight"><%= link_to 'Evidencia', "", remote: true, class: 'btn btn-secondary btn-tight disabled' %></td>
					<% end %>
					<td class="cell-tight"><%= link_to 'Editar', edit_expense_path(expense), remote: true, class: 'btn btn-primary btn-tight' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div id="new-expense">
	</div>
	<div class="d-flex justify-content-end w-100">
		<%= link_to "/expenses/new/#{property.id}",   remote: true, class: 'without-link' do %>
			<i class="fa fa-plus bg-success text-white rounded-circle p-1"></i> <span>Ingresar Gasto</span>
		<% end %>
	</div>
	<div class="d-flex justify-content-end w-100 mt-5 pt-5">
		<button class="btn btn-danger mr-4", data-dismiss="modal" >Cerrar</button>
	</div>
</div>

<style>
	#expenses-table {
		/*table-layout: fixed;*/
		word-break: break-word;
	}

	.cell-tight{
		padding: 2px !important;
	}
	.table-tight{
		font-size: 13px;
	}

	.btn-tight{
		padding: 2px;
	}
</style>

