
<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Administración' %>

		<div class="section-body">
			<% if can? :read, Expense %>
				<%= render 'partials/messages' %>
				<div class="section-body">
					<div class="row">
						<div class="col-12">

							<div class="card">
								<div class="card-header d-flex justify-content-between align-items-center">
									<div class="d-flex flex-column align-items-center">
										<h4>Ver Gastos</h4>
										<%= render 'partials/excel_button', table_id: 'expenses-table', file_name: 'gastos' %>
									</div>

									<div class="card-header-form">
										<%= render( 'partials/search_form',
												model: 'property',
												constants: {},
												search_vars: [
													'administration_number.id',
													'administration_number.tenant.name',
													'address',
													'state',
													],
												table_container_id: 'properties-table',
												table_partial: 'expenses/table_properties',
												query_name: 'properties') %>
									</div>

								</div>
								<div id="properties-table" class="card-body p-0">
									<%= render 'table_properties', properties: @properties %>
								</div>
							</div>


						</div>
					</div>

					<div class="card">
					</div>
				</div>
			<% else %>
				<h1> No tienes permitido visualizar gastos </h1>
			<% end %>
		</div>

	</section>
</div>
