<%= image_tag 'logo.png', class: 'auth-logo' %>

<h1 class="is-size-3 has-text-centered has-text-danger has-text-weight-bold">Términos y Definiciones del Sistema de Igualdad de Género y Conciliación de NCh-3262
</h1>

<hr>

<div class="px-big">
    <div class="diagnostic-border mb-1 padding-glosary">
        <ol type="1">
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Acciones positivas </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> <em> acciones afirmativas: </em> medidas de carácter temporal encaminadas a disminuir y eliminar las diferencias de trato social entre géneros. </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Acoso laboral o moral </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Cualquier incidente en el cual una persona es abusada o maltratada en circunstancias relacionadas con su trabajo. Estos comportamientos pueden ser originados por jefaturas y pares en cualquier nivel de la organización. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (Basado en organización internacional del trabajo OIT) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Acoso Sexual </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Acción indebida realizada por una persona, por cualquier medio, de requerimientos de carácter sexual no consentidos por quien los recibe, y que amenacen o perjudiquen su situación laboral o sus oportunidades de empleo. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (Ley 20.005-2005) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Auditoría </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Proceso sistemático, independiente y documentado para obtener evidencias de la auditoría y evaluarlas de manera objetiva con el fin de determinar el grado en que se cumplen los criterios de auditoría. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (NCH-ISO 9000.OF2010, 3.9.1) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Compensación </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Todo aquello que las personas reciben a cambio de su trabajo como empleados de una organización. Comprende renta fija, variable y beneficios. </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Conciliación </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Medidas orientadas a compatibilizar las condiciones de trabajo con las responsabilidades familiares y personales en la lógica de la corresponsabilidad. </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Conformidad </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Cumplimiento de un requisito. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (NCH-ISO 9000.Of 2010, 3.6.1) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Corresponsabilidad </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Medidas orientadas a apoyar que trabajadoras y trabajadores, puedan dedicar su tiempo tanto al trabajo remunerado como al familiar y personal. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> Nota: Asunción equitativa, por parte de hombres y mujeres de las responsabilidades, derechos, deberes y oportunidades asociadas al ámbito de lo domestico, lo familiar y los cuidados. Implica que todos los agentes sociales e instituciones (Estado, Empresas, Sindicatos, Asociaciones…) asuman la gestión efectiva de la realidad personal, familiar y profesional (ver bibliografía, (8)) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Discriminación en el empleo y ocupación </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Cualquier distinción, exclusión o preferencia que tenga por efecto anular o alterar la igualdad de oportunidades o de trato en el empleo y la ocupación. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-l"> (Basado en convenio 111 OIT) </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> Nota: También se consideran actos de discriminación aquellas distinciones, exclusiones o preferencias basadas en motivos de apariencia física o discapacidad. </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Evaluación de la conformidad </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Demostración que se cumplen los requisitos especificados relativos a un producto, proceso, sistema, persona u organismo. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-l"> Nota: El área de la evaluación de la conformidad incluye actividades tales como, ensayo/prueba, inspección, y certificación, así como la acreditación de organismos de evaluación de la conformidad. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (Adaptada de NCH-ISO 17000, 2.1) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Gestión </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Actividades coordinadas para dirigir y controlar una organización. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (NCH.ISO 9000.Of2010, 3.2.6) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Grupo vulnerable </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Grupo de individuos que comparten una o varias características adversas en el ámbito social, económico, cultural, político o de salud, y que les causan una carencia de medios para hacer alcanzar sus derechos o disfrutar de las mismas oportunidades que los demás. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (NCH-ISO 26000.Of2010, 2.26) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Igualdad de género </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Trato equitativo para mujeres y hombres. </p>
                <ul class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1">        <li> Notas: 
                        <ol>
                            <li> Esto incluye el mismo trato o, en algunos casos, un trato que, siendo diferente, puede ser considerado equivalente en términos de derechos, beneficios, obligaciones y oportunidades. </li>
                            <li>  La igualdad de género define que las diferencias entre hombres y mujeres no tengan un significado discriminatorio, por ende, para alcanzarla, se deben adaptar todas las medidas apropiadas, incluso de carácter legislativo, para asegurar el pleno desarrollo y adelanto para la mujer, con el objeto de garantizar el ejercicio y goce de los derechos humanos y las libertades fundamentales en igualdad de condiciones con el hombre (artículo 3, convención de las Naciones Unidad sobre la Eliminación de todas las formas de discriminación contra la mujer, CEDAW). </li>
                        </ol>
                    </li>
                </ul>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> (NCH-ISO 26000.Of2010, 2.26) </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Mejoramiento Continuo </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Mejora continua; actividad recurrente para aumentar la capacidad para cumplir los requisitos. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> Notas: El proceso mediante el cual se establecen objetivos y se identifican oportunidades para el mejoramiento es un proceso continuo a través del uso de los hallazgos de la auditoría, las conclusiones de la auditoría, el análisis de los datos, la revisión por la dirección u otros medios, y generalmente conduce a la acción correctiva y preventiva. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [Adaptada de NCH-ISO9000 of2010, 3.2.13] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Organización </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Entidad o grupo de personas e instalaciones con responsabilidades, autoridades y relaciones establecidas y objetivos identificables. </p>
                <p class="is-size-6 has-text-weight-normal mb-1"> Ejemplo </p>
                <p class="is-size-6 has-text-weight-normal mb-1"> Compañía, corporación, firma, empresa, institución de beneficencia, empresa unipersonal, asociación, o parte o una combinación de los anteriores. </p>
                <ul class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1">        <li> Notas: 
                        <ol>
                            <li> Dicha disposición es generalmente ordenada </li>
                            <li>  Una organización puede ser pública o privada </li>
                        </ol>
                    </li>
                </ul>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [Adaptada de la NCh-ISO 9000.of2010, 3.3.1] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Partes interesadas </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Persona o grupo que tiene interés en cualquier decisión o actividad de la organización. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [Adaptada de Nch.ISO 26000.of2010, 2.2.0] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Política de igualdad de género y conciliación </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Intenciones globales y orientación de una organización relativas a la igualdad de género u la conciliación, tal como se expresa formalmente por la alta dirección. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [Adaptada de Nch.ISO 26000.of2010, 3.2.4] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Procedimiento </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Forma especificada para llevar a cabo una actividad o un proceso. </p>
                <ul class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1">        <li> Notas: 
                        <ol>
                            <li> Los procedimientos pueden estar documentados o no. </li>
                            <li>  Cuando un procedimiento está documentado, se utiliza con frecuencia el término procedimiento escrito o procedimiento documentado. El documento que contiene un procedimiento se puede denominar documento de procedimiento. </li>
                        </ol>
                    </li>
                </ul>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [NCh-ISO 9000.Of2010, 3.4.5] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Programa de auditoría </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Conjunto de una o más auditorías (ver 3.4) planificadas para un periodo de tiempo determinado y dirigidas hacia un propósito específico. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> Nota: Un programa de auditoría incluye todas las actividades necesarias para planificar, organizar y llevar a cabo las auditorías. </p>
                <p class="is-size-6 has-text-weight-normal has-text-primary has-text-justified mb-1"> [NCh-ISO 9000.Of2010, 3.9.2] </p>
            </li>
            <li class="is-size-5 has-text-weight-bold mb-2 has-text-justified"> 
                <h2 class="is-size-5 has-text-weight-bold mb-l has-text-justified"> Sistema de Igualdad de Género y Conciliación </h2>
                <p class="is-size-6 has-text-weight-normal mb-1"> Sistema de gestión que tiene por objetivo enriquecer y mejorar las condiciones laborales de mujeres y hombres por medio de la aplicación de principios y prácticas de igualdad de género, la detección y eliminación de prácticas discriminatorias y brechas de género existentes al interior de la organización, y la implementación de prácticas laborales que fomenten la conciliación de la vida laboral, familiar y personal en la lógica de la corresponsabilidad. </p>
            </li>
        </ol>

    </div>
</div>