<div class="card-body p-0">
	<div class="table-responsive-sm">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr class="text-center">
					<th> N° ADM </th>
					<th> Vencimiento </th>
					<th> Valor Arriendo </th>
					<th> Multas </th>
					<th> Total </th>
				</tr>
			</thead>

			<tbody>
				<% @debts.each do |debt| %>
					<tr class="text-center">
						<td><%= @admin_number.id %></td>
						<td><%= debt[:expiration_date].strftime('%d-%m-%Y') %></td>
						<td><%= fmt_number(debt[:rent]) %></td>
						<td><%= fmt_number(debt[:penalties]) %></td>
						<td><%= fmt_number(debt[:rent] + debt[:penalties]) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div><!-- End Card Body-->
