<table class="table table-bordered" id="active-administrations-table" >
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Dirección Propiedad </th>
			<th> Nombre Propietario </th>
			<th> Nombre Arrendatario </th>
			<th> Fecha Inicio Contrato </th>
			<th> Fecha Termino Contrato </th>
			<th> Monto Arriendo </th>
		</tr>
	</thead>

	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.property.address %></td>
				<td><%= n.proprietary.name %></td>
				<td><%= n.tenant.name %></td>
				<td><%= n.contract.start_date.strftime('%d-%m-%Y') %></td>
				<td><%= n.contract.expiration_date.strftime('%d-%m-%Y') %></td>
				<td><%= fmt_number(n.contract.rent) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
