<table class="table table-bordered" id="collection-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Nombre Arrendatario </th>
			<th> Dirección Propiedad </th>
			<th> Teléfono </th>
			<th> Correo </th>
			<th> Meses Atraso </th>
			<th> Acción </th>
		</tr>
	</thead>

	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.tenant.name %></td>
				<td><%= n.property.address %></td>
				<td><%= n.tenant.telephone %></td>
				<td><%= n.tenant.email %></td>
				<td><%= n.delayed_months %></td>
				<td><%= link_to 'Ver Detalle', reports_collection_debts_path(n.id), remote: true %></td>
			</tr>
		<% end %>
	</tbody>
</table>
