<table class="table table-bordered" id="expenses-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Nombre Arrendatario </th>
			<th> Dirección Propiedad </th>
			<th> Fecha Gasto y Pago </th>
			<th> Descripcion Gasto y Pago </th>
			<th> Monto Gasto y Pago </th>
		</tr>
	</thead>

	<tbody>
		<% expenses.each do |expense| %>
			<tr class="text-center">
				<%  if not expense.property_has_expense.nil?
						property = expense.property_has_expense.property
					else
						property = expense.property_work_has_expense.property_work.property
					end
				%>
				<td><%= property.administration_number.id %></td>
				<td><%= property.administration_number.tenant.name %></td>
				<td><%= property.address %></td>
				<td><%= expense.date.strftime('%d-%m-%Y') %></td>
				<td><%= expense.description %></td>
				<td><%= fmt_number(expense.amount) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
