<table class="table table-bordered" id="unpaid-settlements-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Mes Arriendo </th>
			<th> Nombre Propietario </th>
			<th> Nombre Arrendatario </th>
			<th> Fecha Disponible Pago </th>
			<th> Días de Atraso </th>
			<th> Seleccionar </th>
		</tr>
	</thead>

	<tbody>
		<% unpaid_settlements.each do |payment| %>
			<% n = payment.contract.administration_number %>
			<tr class="text-center">
				<td><%= payment.contract.administration_number.id %></td>
				<td><%= payment.month_string %></td>
				<td><%= payment.contract.administration_number.proprietary.name %></td>
				<td><%= payment.contract.administration_number.tenant.name %></td>
				<td><%= payment.availability_date.strftime('%d-%m-%Y') %></td>
				<td><%= payment.delay_days %></td>
				<td><input type="checkbox" class="excel-checkbox" ></td>

				<% n.property.administration_beneficiaries.each do |beneficiary| %>
					<td class="excel-row" hidden>
						<div class="excel-field" hidden><%= Company.info.account_number %></div>
						<div class="excel-field" hidden><%= beneficiary.account_number %></div>
						<div class="excel-field" hidden><%= beneficiary.bank_string %></div>
						<div class="excel-field" hidden><%= beneficiary.rut %></div>
						<div class="excel-field" hidden><%= beneficiary.verification_digit %></div>
						<div class="excel-field" hidden><%= beneficiary.titular %></div>
						<div class="excel-field" hidden><%= fmt_number(payment.amount * (beneficiary.percentage/100)) %></div>
						<div class="excel-field" hidden><%= '' %></div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
