<table class="table table-bordered" id="property-returns-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Nombre Arrendatario </th>
			<th> Dirección Propiedad </th>
			<th> Fecha de Entrega </th>
			<th> Fecha Aviso </th>
		</tr>
	</thead>

	<tbody>
		<% admin_numbers.each do |n| %>
			<tr class="text-center">
				<td><%= n.id %></td>
				<td><%= n.tenant.name %></td>
				<td><%= n.property.address %></td>
				<td><%= n.contract.expiration_date.strftime('%d-%m-%Y') %></td>
				<td><%= n.contract.expiration_notice_date.strftime('%d-%m-%Y') %></td>
			</tr>
		<% end %>
	</tbody>
</table>
