<table class="table table-bordered" id="settlements-table">
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Nombre Propietario </th>
			<th> Dirección Propiedad </th>
			<th> Fecha de Pago </th>
			<th> Días de Atraso </th>
		</tr>
	</thead>

	<tbody>
		<% settlements.each do |settlement| %>
			<tr class="text-center">
				<td><%= settlement[:admin_number] %></td>
				<td><%= settlement[:proprietary_name] %></td>
				<td><%= settlement[:property_address] %></td>
				<td><%= settlement[:date] %></td>
				<td><%= settlement[:delay_days] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
