<table class="table table-bordered table-tight" id="administration-profit-table" >
	<thead class="thead-dark">
		<tr class="text-center">
			<th class="cell-tight"> N° ADM </th>
			<th class="cell-tight"> Fecha Pago </th>
			<th class="cell-tight"> Dirección Propiedad </th>
			<th class="cell-tight"> NRO </th>
			<th class="cell-tight"> Arrendatario </th>
			<th class="cell-tight"> Telefono 1 </th>
			<th class="cell-tight"> Telefono 2 </th>
			<th class="cell-tight"> Fecha Pago Real </th>
			<th class="cell-tight"> Monto </th>
			<th class="cell-tight"> Fecha Trans. Dueño </th>
			<th class="cell-tight"> % ADM </th>
			<th class="cell-tight"> $ ADM </th>
			<th class="cell-tight"> IVA 19% </th>
			<th class="cell-tight"> ADM c/Iva </th>
		</tr>
	</thead>

	<tbody>
		<% payments.each do |payment| %>
			<tr class="text-center">
				<td><%= payment.contract.administration_number.id %></td>
				<% payment_date = Date.new(payment.year, payment.month_number, payment.contract.start_date.day) %>
				<td class="cell-tight"><%= payment_date.strftime('%d-%m-%Y') %></td>
				<td class="cell-tight"><%= payment.contract.administration_number.property.address %></td>
				<td class="cell-tight"><%= payment.id %></td>
				<td class="cell-tight"><%= payment.contract.administration_number.tenant.name %></td>
				<td class="cell-tight"><%= payment.contract.administration_number.tenant.telephone %></td>
				<td class="cell-tight"><%= payment.contract.administration_number.tenant.telephone2 %></td>
				<td class="cell-tight"><%= payment.date.strftime('%d-%m-%Y') %></td>
				<td class="cell-tight"><%= fmt_number(payment.amount) %></td>
				<% settlement = payment.contract.settlements.where(year: payment.year, month: payment.month_number).last %>
				<td class="cell-tight"><%= settlement ? settlement.date.strftime('%d-%m-%Y') : '-' %></td>
				<% adm_amount = (payment.contract.administration_number.property.adm_percentage/100) * payment.amount %>
				<% iva = adm_amount * 0.19 %>
				<td class="cell-tight"><%= fmt_number(payment.contract.administration_number.property.adm_percentage) %></td>
				<td class="cell-tight"><%= fmt_number(adm_amount) %></td>
				<td class="cell-tight"><%= fmt_number(iva) %></td>
				<td class="cell-tight"><%= fmt_number(adm_amount + iva) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<style>
	.cell-tight{
		padding: 2px !important;
	}

	.table-tight{
		font-size: 12px;
	}
</style>
