<table class="table table-bordered" id="contributions-table" >
	<thead class="thead-dark">
		<tr class="text-center">
			<th> N° ADM </th>
			<th> Nombre Propietario </th>
			<th> Dirección Propiedad </th>
			<th> Fecha de Pago </th>
			<th> Monto Contribución </th>
			<th> Rol Propiedad </th>
			<th> Rol Bodega </th>
			<th> Rol Estacionamiento </th>
		</tr>
	</thead>

	<tbody>
		<% contributions.each do |contribution| %>
			<tr class="text-center">
				<td><%= contribution.property_has_expense.property.administration_number.id %></td>
				<td><%= contribution.property_has_expense.property.administration_number.proprietary.name %></td>
				<td><%= contribution.property_has_expense.property.address %></td>
				<td><%= contribution.date.strftime('%d-%m-%Y') %></td>
				<!--<td><%#= fmt_number(contribution.property_has_expense.property.contributions_amount) %></td>-->
				<td><%= fmt_number(contribution.amount) %></td>
				<td><%= contribution.property_has_expense.property.property_role_contribution %></td>
				<td><%= contribution.property_has_expense.property.cellar_role_contribution %></td>
				<td><%= contribution.property_has_expense.property.parking_role_contribution %></td>
			</tr>
		<% end %>
	</tbody>
</table>
