<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Listado de Cobro Ingreso por Administración' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'administration-profit-table', file_name: 'reporteListadoDeCobro' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form_with_dates',
											model: 'payment',
											init_queries: [],
											constants: {},
											search_vars: [
												'contract.administration_number.id',
												'date',
												'contract.administration_number.property.address',
												'id',
												'contract.administration_number.tenant.name',
												'contract.administration_number.tenant.telephone',
												'contract.administration_number.tenant.telephone2',
												'amount',
												'contract.administration_number.property.adm_percentage',
												],
											time_vars: [
												'date',
											],
											table_container_id: 'payments-table-container',
											table_partial: 'reports/table_administration_profit',
											query_name: 'payments') %>
							</div>
						</div> <!-- End Card Header -->

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="payments-table-container">
								<%= render 'table_administration_profit', payments: @payments %>
							</div>
						</div><!-- End Card Body-->

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
