modal.configXl();
modal.setHeader('Deudas por Cobrar')
modal.setBody('\
<%= j render "collection_debts_table" %>\
<%= j link_to "PDF", reports_collection_debts_pdf_path(@admin_number.id) %>')
modal.show();
