<head>

	<style>
		.bordered {
			border-collapse: collapse;
			text-align: center;
		}

		.bordered, .bordered th, .bordered td {
			border-style: solid;
			border-width: 2px;
			border-color: black;
			padding: 3px;
		}

		.header {
			background-color: blue;
			color: white;
		}

		.float-right{
			float: right;
		}

		.float-left{
			float: left;
		}
	</style>
</head>

<h4> Deudas por Cobrar </h4>
<p> Administracion: <%= @admin_number.id %></p>
<p> Arrendatario: <%= @admin_number.tenant.name %></p>


<table class="bordered">
	<thead class="header">
		<th> N° ADM </th>
		<th> Vencimiento </th>
		<th> Valor Arriendo </th>
		<th> Multas </th>
		<th> Total </th>
	</thead>

	<tbody>
		<% @debts.each do |debt| %>
			<tr>
				<td><%= @admin_number.id %></td>
				<td><%= debt[:expiration_date].strftime('%d/%m/%Y') %></td>
				<td><%= fmt_number(debt[:rent]) %></td>
				<td><%= fmt_number(debt[:penalties]) %></td>
				<td><%= fmt_number(debt[:rent] + debt[:penalties]) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
