<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Reportes Contribuciones' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'contributions-table', file_name: 'reporteContribuciones' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form_with_dates',
											model: 'expense',
											init_queries: [],
											constants: {contributions: true},
											search_vars: [
												'property_has_expense.property.administration_number.id',
												'property_has_expense.property.administration_number.proprietary.name',
												'property_has_expense.property.address',
												'date',
												'property_has_expense.property.property_role_contribution',
												'property_has_expense.property.cellar_role_contribution',
												'property_has_expense.property.parking_role_contribution',
												],
											time_vars: [
												'date',
											],
											table_container_id: 'contributions-table-container',
											table_partial: 'reports/table_contributions',
											query_name: 'contributions') %>
							</div>
						</div> <!-- End Card Header -->

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="contributions-table-container">
								<%= render 'table_contributions', contributions: @contributions %>
							</div>
						</div><!-- End Card Body-->

					</div>
				</div>
			</div>
		</div>

	</section>
</div>
