<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Reportes Gastos' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'expenses-table', file_name: 'reporteGastos' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form',
											model: 'expense',
											init_queries: [],
											constants: {},
											search_vars: [
												'property_has_expense.property.administration_number.id',
												'property_has_expense.property.administration_number.tenant.name',
												'property_has_expense.property.address',
												'property_work_has_expense.property_work.property.administration_number.id',
												'property_work_has_expense.property_work.property.administration_number.tenant.name',
												'property_work_has_expense.property_work.property.address',
												'date',
												'description',
												'amount',
												],
											table_container_id: 'expenses-table-container',
											table_partial: 'reports/table_expenses',
											query_name: 'expenses') %>
							</div>
						</div> <!-- End Card Header -->

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="expenses-table-container">
								<%= render 'table_expenses', expenses: @expenses %>
							</div>
						</div><!-- End Card Body-->

					</div>
				</div>
			</div>
		</div>

	</section>
</div>
