<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Reportes Trabajos en Propiedades' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'property-works-table', file_name: 'reporteTrabajoAPropiedades' %>
							</div>
						</div>

						<div class="card-body p-0">
							<div class="table-responsive-sm">
								<table class="table table-bordered" id="property-works-table" >
									<thead class="thead-dark">
										<tr class="text-center">
											<th> N° ADM </th>
											<th> Dirección Propiedad </th>
											<th> Nombre Arrendatario </th>
											<th> Estado del Trabajo </th>
											<th> Descripcion del Trabajo </th>
											<th> Fecha Inicio </th>
											<th> Fecha Termino </th>
										</tr>
									</thead>

									<tbody>
										<% @property_works.each do |property_work| %>
											<tr class="text-center">
												<td><%= property_work.property.administration_number.id %></td>
												<td><%= property_work.property.address %></td>
												<td><%= property_work.property.administration_number.tenant ? property_work.property.administration_number.tenant.name : '-' %></td>
												<td><%= property_work.finished ? 'Terminado' : 'En Ejecución' %></td>
												<td><%= property_work.description %></td>
												<td><%= property_work.start_date.strftime('%d-%m-%Y') %></td>
												<td><%= property_work.end_date.strftime('%d-%m-%Y') %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div><!-- End Card Body-->

					</div>
				</div>
			</div>
		</div>

	</section>
</div>
