<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Reportes Aviso Entrega' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'property-returns-table', file_name: 'reporteAvisoDeEntrega' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form_with_dates',
											model: 'administration_number',
											init_queries: ['active_contract'],
											constants: {},
											search_vars: [
												'id',
												'tenant.name',
												'property.address',
												'contract.expiration_date',
												],
											time_vars: [
												'contract.expiration_date',
											],
											table_container_id: 'admin-n-table-container',
											table_partial: 'reports/table_property_return',
											query_name: 'admin_numbers') %>
							</div>
						</div> <!-- End Card Header -->

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="admin-n-table-container">
								<%= render 'table_property_return', admin_numbers: @admin_numbers %>
							</div>
						</div><!-- End Card Body-->

					</div>

				</div>
			</div>
		</div>

	</section>
</div>
