<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Reportes Pagos a Propietarios' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%= render 'partials/excel_button', table_id: 'settlements-table', file_name: 'reportePagoAPropietarios' %>
							</div>

							<!-- Search form -->
							<%= form_with url: reports_settlements_path, method: 'GET', remote: true do |f| %>
								<div class="input-group row">
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-3"><%= f.label :from, 'Desde', class: 'control-label' %></div>
											<div class="col-sm-9"><%= f.date_field :from, class: 'form-control' %></div>
										</div>
									</div>

									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-3"><%= f.label :until, 'Hasta', class: 'control-label' %></div>
											<div class="col-sm-9"><%= f.date_field :until, class: 'form-control' %></div>
										</div>
									</div>

									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-4 input-group-btn">
												<%= f.submit 'Buscar', class: 'btn btn-primary h-100' %>
											</div>
											<div class="col-sm-8"><%= f.text_field :search_term, class: 'form-control' %></div>
										</div>
									</div>
								</div>
							<% end %>
						</div> <!-- End Card Header -->

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="settlements-table-container">
								<%= render 'table_settlements', settlements: @settlements %>
							</div>
						</div><!-- End Card Body-->

					</div>
				</div>
			</div>
		</div>

	</section>
</div>
