<%= render 'partials/messages' %>

<div class="main-content">
	<section class="section">
		<%= render 'partials/title', title: 'Arriendos por Pagar a Propietario' %>

		<div class="section-body">
			<div class="row">
				<div class="col-12">

					<div class="card">

						<div class="card-header d-flex justify-content-between align-items-center">
							<div class="d-flex flex-column align-items-center">
								<%#= render 'partials/excel_button', table_id: 'settlements-table', file_name: 'reporteAdministracionesVigentes' %>
							</div>

							<div class="card-header-form">
								<%= render( 'partials/search_form',
											model: 'payment',
											init_queries: ['with_unpaid_settlement'],
											constants: {},
											search_vars: [
												'contract.administration_number.id',
												'month',
												'contract.administration_number.proprietary.name',
												'contract.administration_number.tenant.name',
												],
											table_container_id: 'payment-table-container',
											table_partial: 'reports/table_unpaid_settlements',
											query_name: 'unpaid_settlements') %>
							</div>
						</div>

						<div class="card-body p-0">
							<div class="table-responsive-sm" id="payment-table-container">
								<%= render 'table_unpaid_settlements', unpaid_settlements: @unpaid_settlements %>
							</div>

							<button class="btn btn-info float-right" onclick="addRowsToExcel();">Agregar a EXCEL</button>
							<br/>
							<br/>
							<br/>
							<br/>
							<table class="table table-bordered" id="excel-table">
								<thead class="thead-dark">
									<tr class="text-center">
										<th> N° Cuenta de Cargo </th>
										<th> N° Cuenta de Destino </th>
										<th> Banco Destino </th>
										<th> Rut Beneficiario </th>
										<th> Dig. Verif. Beneficiario </th>
										<th> Nombre Beneficiario </th>
										<th> Monto Transferencia </th>
										<th> Tipo de Pago </th>
									</tr>
								</thead>

								<tbody></tbody>
							</table>

							<button class="btn btn-danger  mt-4" style="float: right; margin: 10px;" onclick="window.location.reload(true);">Cancelar</button>
							<!--<button class="btn btn-success mt-4" style="float: right; margin: 10px;" onclick="helpers.downloadCsvFromTable('excel-table')">Descargar EXCEL</button>-->
							<button class="btn btn-success mt-4" style="float: right; margin: 10px;" onclick="helpers.downloadXlsxFromTable('excel-table', 'arriendos_por_pagar')">Descargar EXCEL</button>

						</div>

					</div>
				</div>
			</div>
		</div>

	</section>
</div>

<% content_for :extra_js_files do %>
	<%= javascript_include_tag 'unpaid_settlements' %>
<% end %>

