<!DOCTYPE html>
<html>
    <%= render 'partials/head' %>
    <%= yield :head %>

	<body>
		<div id="app">
			<% if request.fullpath == '/login' || request.fullpath == '/forgot_password' || request.fullpath == '/sessions/new' %>
				<%= yield %>
			<% else %>
				<div class="main-wrapper">
					<% if request.fullpath != '/login' && request.fullpath != '/forgot_password' && request.fullpath != '/sessions/new' %>
						<%= render 'partials/navbar' %>
						<%= render 'partials/sidebar' %>
					<% end %>

					<%= yield %>

					<% if request.fullpath != '/login' && request.fullpath != '/forgot_password' && request.fullpath != '/sessions/new' %>
						<footer class="main-footer">
							<div class="footer-left">
								Copyright © 2019 <div class="bullet"></div> Design By <a href="#">CVITANIC</a>
							</div>
							<div class="footer-right">
								v2.0.0
							</div>
						</footer>
					<% end %>

				</div>
			<% end %>
		</div>

		<!-- render inactive forbidden action modal -->
		<%= render 'partials/forbidden_action' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= yield :extra_js_files %>
	</body>

	<script>
		<!-- if forbidden action is signaled, trigger the modal -->
		<% if flash[:forbidden] %>
			$("#modal-forbidden-action").modal('toggle');
		<% end %>

		<%= yield :extra_js %>
	</script>

</html>
