<html>
	<head>

		<style>
			.bordered {
				border-collapse: collapse;
				text-align: center;
			}

			.bordered, .bordered th, .bordered td {
				border-style: solid;
				border-width: 2px;
				border-color: black;
				padding: 3px;
			}

			.header {
				background-color: blue;
				color: white;
			}

			.float-right{
				float: right;
			}

			.float-left{
				float: left;
			}
		</style>

	</head>

	<body>

		<%= yield %>

		<p>Saluda Atentamente a Ud.</p>
		<p>Jefe Oficina</p>
		<p>Propiedades Cvitanic Ltda.</p>
		<p>Fono: (56-55) 2229600 / Celular: 56 9 56998284</p>
		<p>Email: jefe.oficina@cvitanic.cl</p>
		<p>Sitio Web: www.cvitanic.cl</p>
		<p>Dirección:Psje. Fco. Bilbao N° 2275 Edif. Perú Of. 03, Casilla N° 334, Antofagasta Chil</p>

	</body>
</html>
