<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <%= yield :head %>

    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
</head>

<body onload="number_pages()">
  <div class='container'>
    <%= yield %>
  </div>
</body>

</html>