<html>
	<head>
		<title></title>

		<!--<link rel="stylesheet" type="text/css" href="bootstrap.css">-->
		<!-- <%= stylesheet_link_tag 'bootstrap' %> -->
		<meta charset="UTF-8">
	</head>

	<body>
		<!-- Header -->
		<table>
			<tr>
				<th><%= wicked_pdf_image_tag 'full-logo.png' %></th>
				<th>Ventas Arriendos Administraciones</th>
			</tr>
		</table>

		<%= yield %>

		<!-- Footer -->
		<div class="footer">
			<span>Pasaje Francisco Bilbao Nro. 2275 Edificio Perú Oficina Nro. 03 Teléfono 55-2229600 / 55-2263652 </span>
			<span>Email: inmobiliaria@cvitanic.cl - Web: www.cvitanic.cl - Casilla 334 Antofagasta - Chile</span>
			<span></span>
		</div>

	</body>

	<style>
		body {
			padding: 10px;
			text-align: center;
		}

		table {
			width: 100%;
		}

		.bordered {
			border-collapse: collapse;
		}

		.bordered, .bordered th, .bordered td {
			border-style: solid;
			border-width: 2px;
		}

		.no-border{
			border-width: 0;
		}

		.float-right{
			float: right;
		}

		.float-left{
			float: left;
		}

		.footer {
			position: absolute;
			bottom: 0;
		}
	</style>
</html>
